<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
	<title>タスクどん_所属グループ一覧</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--CSSリンク挿入欄-->
	<link rel="stylesheet" href="../../static/css/deptGroupList.css">

</head>

<body>
	<h2>所属グループ一覧</h2>
	<!-- ログイン中表示 -->
	<h2 th:if="${session.user}" th:text="${session.user.get().getUser_name()}+さん、ログイン中"></h2>

	<center>
		<a th:href="@{/taskdon/user/menu_choose}">グループ１</a><br>
		<a th:href="@{/taskdon/user/logout}">ログアウト</a><br>
	</center>
</body>

</html>