<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん|所属グループ一覧</title> <!--サイトタイトル-->

	<!--デザイン等-->

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="icon" type="image/png" th:href="@{/img/icon.png}">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/deptGroupList.css}">

	<!--所属グループ一覧画面のみログアウト単体ボタン-->
	<button class="logoutButton" th:href="@{/taskdon/admin/logout}">ログアウト</button>

</head>

<body>
	<!--各画面ごとのメイン内容-->
	<div class="container"> <!--コンテナ共通-->
		<!--画面タイトル左のメニュー遷移機能を持つアイコン(ボタン)-->
		<img class="iconLink no-wrap" th:src="@{/img/icon.png}" th:onclick="|location.href='@{menu}'|" alt="icon"
			width="48" height="48">
		<h2 class="no-wrap">【所属グループ一覧】</h2> <!--画面タイトル-->

		<table>
			<form th:action="@{menu}" method="get">
				<tr th:each="deptGroup : ${groupS}">
					<td th:text="${deptGroup.group_name}"></td>
					<td th:text="${deptGroup.genre}"></td>
					<td th:text="${deptGroup.user_roll}"></td>

					<!--仮置き(後に削除)-->
					<td><button type="submit" name="button" value="menu">メニューへ</button></td>
				</tr>
			</form>
		</table>
	</div>
</body>

</html>