<!-- ユーザ用メニュー(名称:ホーム) -->
<!-- 必須情報(下記2項目) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|メニュー</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/notice.css}">

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

	<!-- 共通header呼出し(ユーザ用) -->
	<div>
		<th:block th:insert="fragment/header :: headerUser">
	</div>

</head>

<body>
	<!-- コンテナ -->
	<div class="container">

		<div class="row">
			<div class="col">
				<!--居場所更新-->
				<div th:if="${session.user_roll} == 'リーダ'"> <!--役職判断処理-->
					<select class="form-select place-update" aria-label="Default select example"
						th:onchange="updateStatus(this.value)">
						<option th:each="room : ${roomList}" th:selected="${room.room_name} == ${status}"
							th:value="${room.room_name}"
							th:text="${room.room_name == '休憩中' or room.room_name == '校外作業中'} ? ${room.room_name} : ${room.room_name} + '(' + ${room.hall} + ${room.floor} + ')'">
						</option>
					</select>
				</div>
			</div>
			<div class="col">

			</div>
			<div class="col">
				<!--左側開閉用ボタン-->
				<button class="notice-open-btn menu-link" type="button" data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">連絡事項</button>
			</div>
		</div>

		<h2 class="menu-text">ホーム</h2>

		<!--連絡事項(Offcamvas)-->
		<!--連絡事項内部-->
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
			<div class="offcanvas-header">
				<h3 class="offcanvas-title" id="offcanvasRightLabel" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);">
					連絡事項</h3>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<div>
					<th:block th:insert="fragment/notice :: notice">
				</div>
			</div>
		</div>

		<div th:if="${session.user_roll} == 'リーダ'" style="margin-top: 40px;">
			<!-- 役職判断処理 -->
			<a class="menu-btn menu-link" th:onclick="|location.href='@{memberList}'|">メンバ一覧</a>
		</div>

		<a class="menu-btn menu-link" th:onclick="|location.href='@{taskList}'|" style="margin-top: 32px;">タスク一覧</a>

		<a class="menu-btn menu-link" th:onclick="|location.href='@{todoList}'|" style="margin-top: 32px;">ToDoリスト</a>

		<div th:if="${session.user_roll} == 'リーダ'"> <!-- 役職判断処理 -->
			<a class="menu-btn menu-link" th:onclick="|location.href='@{noticeRegist}'|"
				style="margin-top: 32px;">連絡事項作成</a>
		</div>

		<a class="menu-btn menu-link" th:onclick="|location.href='@{chat}'|" style="margin-top: 32px;">チャット</a>

		<!--<a class="menu-btn" th:onclick="|location.href='@{/taskdon/user/getPlace}'|">所属グループ一覧</a>-->

	</div>

	<!--休憩中の間、リンクを無効化-->
	<script th:src="@{/js/placeUpdate.js}"></script>

	<!--チェックボックスが押されていない間ボタンを無効化-->
	<!--	<script th:inline="javascript">-->

	<!--	</script>-->

	<!--居場所更新-->
	<!--	<script th:inline="javascript">-->

	<!--	</script>-->

	<!-- bootstrapのjsリンク接続 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>