<!-- ユーザ用メニュー(名称:ホーム) -->
<!-- 必須情報(下記2項目) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|メニュー</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->

	<!-- 共通header呼出し(ユーザ用) -->
	<div>
		<th:block th:insert="fragment/header :: headerUser">
	</div>

</head>

<body>
	<!-- コンテナ -->
	<div class="container">

		<h2 class="menu-text">ホーム</h2>

		<div th:if="${session.user_roll} == 'リーダ'"> <!--役職判断処理-->
			<select class="form-select place-update" aria-label="Default select example">
				<option selected>休憩中</option>
				<div th:each="room : ${roomList}">
					<option th:text="room.room_name"></option>
				</div>
			</select>
		</div>

		<div>
			<th:block th:insert="fragment/notice :: notice">
		</div>

		<!-- 遷移先 -->
		<div th:if="${session.user_roll} == 'リーダ'"> <!-- 役職判断処理 -->
			<a class="menu-btn" th:onclick="|location.href='@{memberList}'|">メンバ一覧</a><!--未実装-->
		</div>

		<a class="menu-btn" th:onclick="|location.href='@{taskList}'|">タスク一覧</a>

		<a class="menu-btn" th:onclick="|location.href='@{todoList}'|">ToDoリスト</a>

		<div th:if="${session.user_roll} == 'リーダ'"> <!-- 役職判断処理 -->
			<a class="menu-btn" th:onclick="|location.href='@{noticeRegist}'|">連絡事項作成</a><!--未実装-->
		</div>

		<a class="menu-btn" th:onclick="|location.href='@{chat}'|">チャット</a><!--未実装-->

		<a class="menu-btn" th:onclick="|location.href='@{deptGroupList}'|">所属グループ一覧</a>

	</div>

	<!-- bootstrapのjsリンク接続 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>