<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん_メニュー</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->
</head>

<divbody>
	<h2>メニュー</h2>

	<!-- ドロップダウンリスト -->
	<!--<select id="dropdown" name="selectedValue" th:onchange="menu">-->
	<!--	<option>休憩中</option>-->
	<!--	<option name="room_name" th:each="room : ${#}" th:value="${room}" th:text="${room}"></option>-->
	<!--</select>-->

	<!-- 連絡事項表示領域(予定) -->
	<div style="overflow-y: scroll; height: 200px;"></div>

	<!-- 削除ボタン -->
	<button type="submit">削除</button>

	<!-- 遷移ボタン -->
	<>
	<form name="form1" th:action="@{deptGroupList}" method="post">
		<button type="submit">所属グループ一覧</button>
	</form>

	<form name="form1" th:action="@{memberList}" method="get">
		<button type="submit">メンバ一覧</button>
	</form>

	<form name="form1" th:action="@{taskList}" method="get">
		<button type="submit">タスク一覧</button>
	</form>

	<form name="form1" th:action="@{noticeRegist}" method="get">
		<button type="submit">連絡事項作成</button>
	</form>

	<form name="form1" th:action="@{tdList}" method="get">
		<button type="submit">ToDoリスト</button>
	</form>

	<form name="form1" th:action="@{chat}" method="get">
		<button type="submit">チャット</button>
	</form>
	</body>

</html>