<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん_パスワード再設定</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

	<div class="container">

		<h2 class="menu-text">パスワード再設定</h2>

		<form th:action=@{/taskdon/user/updatePass} method="post">
			<div class="">
				<lavel>新パスワード　　　　　</lavel>
				<input type="text" name="newPass" required>
			</div>
			<div class="">
				<lavel>新パスワード（確認用）</lavel>
				<input type="text" name="confirmPass" required>
			</div>
			<!--パスワード再設定確認(ポップアップ)-->
			<div>
				<button type="button" class="btn btn-danger" data-toggle="modal"
					data-target="#passResetModal">確認</button>
			</div>
		</form>

		<!--ポップアップ-->
		<div class="modal fade" id="passResetModal" tabindex="-1" role="dialog" aria-labelledby="passResetModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="passResetModalLabel">パスワード再設定確認</h5>
					</div>
					<div class="modal-body">
						<p>パスワードを更新しますか?</p>
					</div>
					<div class="modal-footer">
						<table>
							<form th:action="@{/taskdon/user/updatePass}" method="post">
								<input type="hidden" name="user_id" th:value="${user_id}">
								<!--<input type="hidden" name="newPass" th:value="&{newPass}">-->
								<!--<input type="hidden" name="confirmPass" th:value="&{confirmPass}">-->
								<button type="submit" name="button" value="はい" class="btn btn-danger">はい</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">いいえ</button>
							</form>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>