<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|タスク一覧</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!--共通CSS-->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!--共通CSS-->
	<link rel="stylesheet" th:href="@{/css/taskS.css}">

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(ユーザ用) -->
	<div>
		<th:block th:insert="fragment/header :: headerUser">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>タスク一覧
			<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" style="margin-bottom: 5px;" fill="currentColor"
				class="bi bi-file-earmark" viewBox="0 0 16 16">
				<path
					d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z" />
			</svg>
		</h2>

		<!--絞り込み欄-->
		<div class="row">
			<div class="col-md-6">
				<select class="form-select" aria-label="Default select example" name="selectedValue"
					th:onchange="taskList(this.value)">
					<option selected>全員</option>
					<option name="group_user" th:each="user : ${session.groupUser}" th:value="${user}"
						th:text="${user}">
					</option>
				</select>
			</div>
			<div class="col-md-6">
				<!--スコア欄(絞り込み結果次第)-->
				<div id="userScore">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"><label class="content_child"
								th:text="Score"></label></span>
						<input type="text" class="form-control content_child" th:value="${score}" aria-label="Username"
							aria-describedby="basic-addon1" readonly>
					</div>
				</div>
			</div>
		</div>

		<!--タスク内容(繰返し)-->
		<div class="content">
			<div th:each="task : ${tasks}" class="content_child" id="data">
				<div class="box1">
					<div class="task-name" th:text="'【'+${task.task_name}+'】'"></div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">優先度　　</span>
						<input type="text" class="form-control" th:value="${task.task_priority}" aria-label="Username"
							aria-describedby="basic-addon1" readonly>
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1" style="margin-top: -9px;">ステータス</span>
						<input type="text" class="form-control" th:value="${task.task_status}" aria-label="Username"
							aria-describedby="basic-addon1" style="margin-top: -9px;" readonly>
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1" style="margin-top: -9px;">締切日　　</span>
						<input type="text" class="form-control" th:value="${task.end_date}" aria-label="Username"
							aria-describedby="basic-addon1" style="margin-top: -9px;" readonly>
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1" style="margin-top: -9px;">進捗　　　</span>
						<input type="text" class="form-control" th:value="${task.progress}+'％'" aria-label="Username"
							aria-describedby="basic-addon1" style="margin-top: -9px;" readonly>
					</div>
					<!--優先度等のテキストにはサイズ調整するため直接空白を入れています-->
					<!--余白も直接書き込んでます-->

					<div class="progress" role="progressbar" aria-label="Info striped example" aria-valuenow="50"
						aria-valuemin="0" aria-valuemax="100" style="height:26px; border-radius:30px;">
						<div class="progress-bar progress-bar-striped bg-warning progress-bar-animated"
							th:style="'width:'+ ${task.progress}+'%'"><label class="var-text"
								th:text="${task.progress}+'%'"></div>
					</div>
					<div>
						<form th:action="@{taskDetails}" method="post">
							<input type="hidden" name="task_id" th:value="${task.task_id}">
							<button type="submit" class="detail-btn">詳細</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!--遷移-->
		<div class="row moveS">
			<div class="col-md-6">
				<div th:if="${session.user_roll} eq 'リーダ'">
					<a class="move-btn" th:onclick="|location.href='@{taskUnapproved}'|">未承認一覧</a>
				</div>
			</div>
			<div class="col-md-6">
				<div th:if="${session.user_roll} eq 'リーダ'">
					<a class="move-btn" th:onclick="|location.href='@{taskRegister}'|">新規登録</a>
				</div>
			</div>
			<div>
				<div th:if="${session.user_roll} eq 'メンバ'">
					<a class="move-btn" th:onclick="|location.href='@{taskRequest}'|">申請</a>
				</div>
			</div>
		</div>

	</div>

	<!--処理コード欄-->
	<script th:inline="javascript">
		function taskList(selectedValue) {
			/*URL指定＆ドロップダウンリストの値引き渡し*/
			var url = "taskList";
			var params = {
				"selectedValue": selectedValue
			};
			/*HTML内容のクリア*/
			var elements = document.getElementsByClassName("content_child");
			for (var i = 0; i < elements.length; i++) {
				elements[i].innerHTML = "";
			}
			/*タスク一覧表示メソッドの呼び出し*/
			$.ajax({
				type: "GET",
				url: url,
				data: params,
				success: function (data) {
					var html = $(data).find(".content").html();
					var user = $(data).find("#userScore").html();
					document.getElementById("userScore").innerHTML = user
					document.getElementById("data").innerHTML = html;
				}
			});
		}
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<!--JavaScript-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>

</html>