<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExampleSide"
		aria-labelledby="offcanvasExampleLabel" th:fragment="toggle">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">ToDo一覧</h2> <button type="button" class="btn-close"
				data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<form th:action="@{todoListChange}" method="post">
				<div th:each="todo:${todoList}">
					<div th:text="${todo.tdlist_content}"></div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="flexCheckDefault">
						<label class="form-check-label"></label>
					</div>
					<!--ラジオボタン-->
					<div class="form-check">
						<input class="form-check-input" type="radio" name="flexRadioDefault"
							th:value="${todo.tdlist_id}" id="flexRadioDefault1" th:checked="${todo.tdlist_id} == ${id}">
						<label class="form-check-label"></label>
					</div>
				</div>
				<button type="submit" name="button" value="edit">編集</button>
				<button type="submit" name="button" value="regist">登録</button>
				<button type="submit" name="button" value="delete">削除</button>
			</form>
		</div>
	</div>
</body>

</html>