<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>タスクどん_新規登録[管理者]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--CSSリンク挿入欄-->
	<link rel="stylesheet" th:href="@{/css/adminRegist.css}">

</head>

<body>
	<!--コンテナ(デザイン情報)-->
	<div class="manage_container">
		<h2>新規管理者登録</h2>

		<h3 th:text="#{manage.confirm.question}">こちらの内容でよろしいですか？</h3>
		
		<form th:action="" method="post">
			<div class="form-group">
				<label th:text="#{manage.admin_id}">管理者ID</label>
				<input type="text" id="user_id" name="user_id" th:value="" readonly>
			</div>
			<div class="form-group">
				<label th:text="#{manage.school_abb}">学校ID</label>
				<input type="text" id="school_id" name="school_id" th:value="" readonly>
			</div>
			<div class="form-group">
				<label th:text="#{manage.school_name}">学校名</label>
				<input type="text" id="school_name" name="school_name" th:value="" readonly>
			</div>
			<div class="form-group">
				<label th:text="#{manage.admin_pass}">パスワード</label>
				<input type="password" id="user_pass" name="user_pass" th:value="" readonly>
			</div>
			
			<div class="button-group">
				<button type="button" class="back-button">戻る</button>
				<button type="submit" class="decision-button">確定</button>
			</div>
		</form>
	</div>

</body>

</html>