<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
	<title>タスクどん_新規登録[管理者]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--CSSリンク挿入欄-->
	<link rel="stylesheet" th:href="@{/css/adminRegist.css}">

</head>

<body>
	<!--コンテナ(デザイン情報)-->
	<div class="manage_container">
		<h2>新規管理者登録</h2>

		<h3>管理者登録が完了しました</h3>
		<!--押下-->
		<div class="button-group">
			<button type="submit" class="login-back-button">ログイン</button>
		</div>
	</div>

	<!--JavaScriptリンク挿入欄-->
	<script src=""></script>

</body>

</html>