<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|グループ作成</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!--共通CSS-->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/control.css}">
	<link rel="stylesheet" th:href="@{/css/userSelect.css}">

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>グループ作成</h2>

		<!-- エラー文を表示する -->
		<p th:if="${errMsg}" th:text="${errMsg}" style="color: red;"></p>

		<form th:action="@{groupCreateConfirm}" method="post" id="form">

			<div class="form-group regist-item">
				<label class="form-label">グループ名</label>

				<div th:if="${groupDetail != null}">
					<input type="text" name="group_name" th:value="${groupDetail.group_name}"
						class="form-control regist-field">
				</div>

				<div th:unless="${groupDetail != null}">
					<input type="text" name="group_name" class="form-control regist-field" required>
				</div>
			</div>

			<!--ジャンル選択(プルダウン)-->
			<div class="form-group regist-item">
				<label class="form-label">ジャンル</label>
				<select class="form-select regist-field" th:name="genre" th:selected="${genre}" required>
					<option th:value="卒業研究" th:text="卒業研究" th:selected="${genre == '卒業研究'}">卒業研究</option>
					<option th:value="インターン" th:text="インターン" th:selected="${genre == 'インターン'}">インターン</option>
					<option th:value="設計" th:text="設計" th:selected="${genre == '設計'}">設計</option>
					<option th:value="イベント" th:text="イベント" th:selected="${genre == 'イベント'}">イベント</option>
					<option th:value="その他" th:text="その他" th:selected="${genre == 'その他'}">その他</option>
				</select>
			</div>

			<!--ユーザ選択作業,userSelect.cssを使用-->
			<!--指示文を表示-->
			<div class="form-froup regist-item userSelect-title">
				<div class="form-label" th:if="${Msg}" th:text="${Msg}"></div>
			</div>

			<button type="button" name="button" value="ユーザを選択" class="control-btn logn-btn userSelect-btn"
				onclick="userSelect()">ユーザを選択</button>

			<label class="form-label user-select-text userSelect-text" th:text="選択したユーザ"></label>

			<div th:if="${selectUser != null}" class="select-userS">
				<div th:each="user : ${selectUser}" style="font-size: 16px;">
					<input class="form-check-input" type="checkbox" name="check" th:value="${user.user_id}"
						id="flexCheckDefault" style="margin-left: 13px;">
					<input type="hidden" name="selectedUserId" th:value="${user.user_id}">

					<label class="form-label" th:text="${user.user_name}"></label>
					<input type="hidden" name="selectUserName" th:value="${user.user_name}">
				</div>
			</div>

			<!--<tbody th:if="${selectUser != null}">-->
			<!--	<tr th:each="user : ${selectUser}">-->
			<!--		<td>-->
			<!--			<input class="form-check-input" type="checkbox" name="check" th:value="${user.user_id}"-->
			<!--			id="flexCheckDefault">-->
			<!--			<input type="hidden" name="selectedUserId" th:value="${user.user_id}">-->
			<!--		</td>-->
			<!--		<td th:text="${user.user_name}"></td>-->
			<!--			<input type="hidden" name="selectUserName" th:value="${user.user_name}">-->
			<!--	</tr>-->
			<!--</tbody>-->

			<!--不要部分-->
			<!--<tbody th:unless="${selectUser != null}">-->
			<!--	<tr>-->
			<!--		<td colspan="2">&nbsp;</td>-->
			<!--	</tr>-->
			<!--	<tr>-->
			<!--		<td colspan="2">&nbsp;</td>-->
			<!--	</tr>-->
			<!--	<tr>-->
			<!--		<td colspan="2">&nbsp;</td>-->
			<!--	</tr>-->
			<!--</tbody>-->

			<button type="button" name="button" value="確認" onclick="formSubmit('確認')"
				class="control-btn mini-btn">確認</button>

			<!--戻るボタン,一旦保留-->
			<!--<button type="button" name="button" value="戻る" onclick="formSubmit('戻る')">戻る</button>-->

		</form>
	</div>

	<!--ユーザを選択ボタンを押した場合-->
	<script>
		function userSelect() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'groupMemberSelect'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			// ボタンの値をhiddenフィールドに設定
			var hiddenField = document.createElement('input');
			hiddenField.type = 'hidden';
			hiddenField.name = 'button';
			hiddenField.value = "グループ作成";
			form.appendChild(hiddenField);

			form.submit();
		}
	</script>

	<!--確認と戻るボタンを押した場合-->
	<script>
		function formSubmit(buttonValue) {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// ボタンの値をhiddenフィールドに設定
			var hiddenField = document.createElement('input');
			hiddenField.type = 'hidden';
			hiddenField.name = 'button';
			hiddenField.value = "グループ作成";
			form.appendChild(hiddenField);

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'groupCreateConfirm'; // グループ作成確認画面を表示するコントロールのURL
			form.method = 'post';

			form.submit();
		}
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>