<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>タスクどん</title>
</head>

<body>
	<div class="container" id="container"> <!-- コンテナ共通 -->
		<h1>グループ作成</h1>

		<!--指示文を表示-->
		<p th:if="${Msg}" th:text="${Msg}"></p>

		<!-- エラー文を表示する -->
		<p th:if="${errMsg}" th:text="${errMsg}" style="color: red;"></p>

		<form th:action="@{groupCreateConfirm}" method="post">
			<table border="1">
				<tr>
					<th>グループ名</th>

					<td th:if="${group_name != null}">
						<input type="text" name="group_name" th:value="${group_name}">
					</td>

					<td th:unless="${group_name != null}">
						<input type="text" name="group_name" required>
					</td>
				</tr>

				<!--プルダウンメニュー-->
				<tr>
					<th>ジャンル名</th>
					<td>
						<select th:name="genre" th:selected="${genre}">
						    <option th:value="卒業研究" th:text="卒業研究" th:selected="${genre == '卒業研究'}">卒業研究</option>
						    <option th:value="インターン" th:text="インターン" th:selected="${genre == 'インターン'}">インターン</option>
						    <option th:value="設計" th:text="設計" th:selected="${genre == '設計'}">設計</option>
						    <option th:value="イベント" th:text="イベント" th:selected="${genre == 'イベント'}">イベント</option>
						    <option th:value="その他" th:text="その他" th:selected="${genre == 'その他'}">その他</option>
						</select>
					</td>
				</tr>

				<tr>
					<td colspan="2">選択したユーザ</td>
				</tr>

				<tbody th:if="${selectUser != null}">
					<tr th:each="user : ${selectUser}">
						<td>
							<input class="form-check-input" type="checkbox" name="check" th:value="${user.user_id}"
								id="flexCheckDefault">
							<input type="hidden" name="selectedUserId" th:value="${user.user_id}">
						</td>
						<td th:text="${user.user_name}"></td>
						<input type="hidden" name="user_name" th:value="${user.user_name}">
					</tr>
				</tbody>

				<tbody th:unless="${selectUser != null}">
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			
			<button type="button" name="button" value="ユーザを選択" class="btn btn-danger"
				onclick="userSelect()">ユーザを選択</button>

			<button type="button" name="button" value="確認" onclick="formSubmit('確認')">確認</button>
			<button type="button" name="button" value="戻る" onclick="formSubmit('戻る')">戻る</button>
		</form>
	</div>


	<!--ユーザを選択ボタンを押した場合-->
	<script>
		function userSelect() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'groupMemberSelect'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			form.submit();
		}
	</script>


	<!--確認と戻るボタンを押した場合-->
	<script>
		function formSubmit(buttonValue) {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// ボタンの値をhiddenフィールドに設定
			var hiddenField = document.createElement('input');
			hiddenField.type = 'hidden';
			hiddenField.name = 'button';
			hiddenField.value = buttonValue;
			form.appendChild(hiddenField);

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'groupCreateConfirm'; // グループ作成確認画面を表示するコントロールのURL
			form.method = 'post';

			form.submit();
		}
	</script>
</body>

</html>