<!-- グループメンバ詳細機能(向江) -->
<!-- 必須情報(下記2項目) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|グループメンバ詳細</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/list.css}">

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>グループメンバ詳細</h2>

		<div th:each="groupDetails : ${group}" th:if="${groupDetailsStat.index == 0}" id="data">

			<div class="row">
				<div class="col">

				</div>
				<div class="col score-view">
					<div class="input-group">
						<span class="input-group-text">スコア</span>
						<div type="text" class="form-control" th:text="${groupDetails.score}"></div>
					</div>
				</div>
			</div>

			<div class="group-detail-text-view">
				<span class="form-label">メンバ</span>
				<div type="text" class="form-control" th:text="${groupDetails.user_name}"></div>
			</div>

			<!-- メンバの進捗率(バー&パーセント)を表示する -->
			<span class="form-label">進捗</span>
			<div class="progress group-progress all-progress" role="progressbar">
				<div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
					th:style="'width:'+ ${groupDetails.user_progress}+'%'"><label class="var-text group-progress-text"
						th:text="${groupDetails.user_progress}+'%'"></div>
			</div>

			<!-- 絞り込みドロップダウンリスト-->
			<span class="form-label">カテゴリ名</span>
			<div class="col-md-6">
				<select class="form-select" aria-label="Default select example" name="selectedValue"
					th:onchange="memberDetails(this.value)">
					<option selected>選択なし</option>
					<option name="select_category" th:each="category : ${Category}" th:value="${category.task_category}"
						th:text="${category.task_category}">
					</option>
				</select>
			</div>
			<input type="hidden" name="group_id" th:value="${groupDetails.group_id}">
			<input type="hidden" name="user_id" th:value="${groupDetails.user_id}">
		</div>


		<div class="main-content" id="result">

			<div th:each="group : ${group}" class="content-child">

				<div type="text" class="form-control detail-taskName" th:text="${group.task_name}"></div>

				<div class="input-group">
					<span class="input-group-text">優先度</span>
					<div type="text" class="form-control" th:text="${group.task_priority}"></div>
				</div>

				<!-- タスクの進捗率(バー&パーセント)を表示する -->
				<span class="form-label">進捗</span>
				<div class="progress group-progress individual-progress" role="progressbar">
					<div class="progress-bar progress-bar-striped bg-warning progress-bar-animated"
						th:style="'width:'+ ${group.progress}+'%'"><label class="var-text group-progress-text"
							th:text="${group.progress}+'%'"></div>
				</div>

				<div>

					<!--タスク詳細 -->
					<form th:action="@{taskDeails}" method="get">
						<input type="hidden" name="task_name" th:value="${group.task_name}">
						<button type="submit" name="button" class="select-btn mini-btn" value="詳細">詳細</button>
					</form>

				</div>
			</div>
		</div>
	</div>

	<!--処理コード欄-->
	<script th:inline="javascript">
		function memberDetails(selectedValue) {
			var form = document.getElementById("data");
			var groupId = form.querySelector("[name='group_id']").value;
			var userId = form.querySelector("[name='user_id']").value;
			/*URL指定＆ドロップダウンリストの値引き渡し*/
			var url = "groupMemberDetails";
			var params = {
				"selectedValue": selectedValue,
				"groupId": groupId,
				"userId": userId
			};
			/*HTML内容のクリア*/
			var elements = document.getElementsByClassName("main-content");
			for (var i = 0; i < elements.length; i++) {
				elements[i].innerHTML = "";
			}
			/*グループメンバ詳細表示メソッドの呼び出し*/
			$.ajax({
				type: "POST",
				url: url,
				data: params,
				success: function (data) {
					var html = $(data).find(".main-content").html();
					document.getElementById("result").innerHTML = html;
				}
			});
		}
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>

</html>