<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|グループ作成</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!--共通CSS-->

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!--ナビゲーションバー-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<img class="iconLink no-wrap" th:src="@{/img/icon.png}" th:onclick="|location.href='@{menu}'|" alt="icon"
				width="48" height="48">
			<span class="nav-title">タスクどん</span>

			<!--ドロップダウンメニュー(開閉)-->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							メニュー
						</button>
						<!--各画面遷移-->
						<ul class="dropdown-menu dropdown-menu-dark">
							<!--メニュー画面遷移-->
							<li><a class="dropdown-item" th:onclick="|location.href='@{menu}'|">ホーム</a></li>
							<li><a class="dropdown-item" th:onclick="|location.href='@{groupList}'|">グループ一覧</a></li>
							<li><a class="dropdown-item" th:onclick="|location.href='@{userList}'|">ユーザ一覧</a></li>
							<!--役職判断処理(管理者のBOSS)-->
							<!--<div th:if="${#strings.startsWith(session.user.user_id, 'ad')}">
								<li><a class="dropdown-item" th:onclick="|location.href='@{teList}'|">講師一覧</a>
								</li>
							</div>-->
							<li><a class="dropdown-item" th:onclick="|location.href='@{schoolDetails}'|">学校情報詳細</a></li>
							<li><a class="dropdown-item" th:onclick="|location.href='@{/nextpage}'|">チャット</a></li>
							<li>
								<hr class="dropdown-divider"> <!--線-->
							</li>
							<li><a class="dropdown-item" th:href="@{/taskdon/user/logout}">ログアウト</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</head>

<body>
	<!--コンテナ-->
	<div class="container" th:if="${groupDetail != null}">
		<h2 class="menu-text">グループ作成確認</h2>

		<!-- エラー文を表示する -->
		<p th:if="${errMsg}" th:text="${errMsg}" style="color: red;"></p>

		<form th:action="@{groupCreateComp}" method="post">
			<table border="1">
				<div>
					<tr>
						<th>グループ名</th>
						<td th:text="${groupDetail.group_name}"></td>
						<input type="hidden" name="group_name" th:value="${groupDetail.group_name}">
					</tr>

					<tr>
						<th>ジャンル名</th>
						<td th:text="${groupDetail.genre}"></td>
						<input type="hidden" name="genre" th:value="${groupDetail.genre}">
					</tr>
				</div>


				<tr>
					<th>リーダ</th>
				</tr>
				<tr th:each="leader : ${leaderUser}">
					<td th:text="${leader.user_name}"></td>
					<input type="hidden" name="leaderUser_id" th:value="${leader.user_id}">
					<input type="hidden" name="leaderUser_name" th:value="${leader.user_name}">
				</tr>

				<tr>
					<th>メンバ</th>
				</tr>
				<tr th:each="member : ${memberUser}">
					<td th:text="${member.user_name}"></td>
					<input type="hidden" name="memberUser_id" th:value="${member.user_id}">
					<input type="hidden" name="memberUser_name" th:value="${member.user_name}">
				</tr>
			</table>

			<button type="button" name="button" value="登録" class="btn btn-danger"
				onclick="groupCreateAndShowPopup()">登録</button>
		</form>


		<!-- ポップアップ -->
		<div class="modal fade" id="groupCreateModal" tabindex="-1" role="dialog"
			aria-labelledby="groupCreateModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="groupCreateModalLabel">登録完了</h5>
					</div>
					<div class="modal-body">
						<p>登録が完了しました</p>
					</div>
					<div class="modal-footer">
						<form th:action="@{groupList}" method="get">
							<button type="submit" class="btn btn-danger">グループ一覧へ</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

	<script>
		function groupCreateAndShowPopup() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'groupCreateComp'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			// buttonパラメータを追加
			//var buttonInput = document.createElement('input');
			//buttonInput.type = 'hidden';
			//buttonInput.name = 'button';
			//buttonInput.value = '編集'; // または '戻る' など必要な値を設定
			//form.appendChild(buttonInput);

			form.submit();
		}
	</script>

	<!--ポップアップを表示するためのコード-->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var groupCreateComp = /*[[${groupCreateComp}]]*/ true;
		$(document).ready(function () {
			if (groupCreateComp == true) {
				$('#groupCreateModal').modal('show');
			}
		});
		/*]]>*/
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>