<!-- グループメンバタスク詳細機能(向江) -->
<!-- 必須情報(下記2項目) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|メンバタスク詳細</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/list.css}">

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>メンバタスク詳細</h2>

		<div th:each="task : ${task}">

			<div class="row">
				<div class="col">

				</div>
				<div class="col">
					<div class="input-group priority">
						<span class="input-group-text">優先度</span>
						<div type="text" class="form-control" th:text="${task.task_priority}"></div>
					</div>
				</div>
			</div>

			<span class="form-label">タスク</span>
			<div type="text" class="form-control" th:text="${task.task_name}"></div>

			<div class="input-group">
				<span class="input-group-text">カテゴリ</span>
				<div type="text" class="form-control" th:text="${task.task_category}"></div>
			</div>

			<!-- タスクの進捗率(バー&パーセント)を表示する -->
			<span class="form-label">タスク-進捗</span>
			<div class="progress group-progress" role="progressbar">
				<div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
					th:style="'width:'+ ${task.progress}+'%'"><label class="var-text group-progress-text"
						th:text="${task.progress}+'%'"></div>
			</div>

			<div class="row">
				<div class="col">
					<div class="mb-3">
						<span class="form-label">開始日</span>
						<div type="text" class="form-control" th:text="${task.start_date}"></div>
					</div>
				</div>
				<div class="col">
					<div class="mb-3">
						<span class="form-label">終了予定日</span>
						<div type="text" class="form-control" th:text="${task.end_date}"></div>
					</div>
				</div>
			</div>

			<div class="mb-3">
				<span class="form-label">概要</span>
				<textarea type="text" class="form-control" th:text="${task.task_content}" readonly></textarea>
			</div>

		</div>

	</div>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>

</html>