<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|グループメンバ追加</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">
		
		<h2>グループメンバ追加</h2>

		<!--指示文を表示-->
		<p th:if="${Msg}" th:text="${Msg}"></p>

		<!-- エラー文を表示する -->
		<p th:if="${errMsg}" th:text="${errMsg}" style="color: red;"></p>

		<form th:action="@{groupMemberAddConfirm}" method="post">
			<table border="1">
				<tr>
				<tr>
					<th>グループ名</th>
					<td th:text="${groupDetail.group_name}"></td>
					<input type="hidden" name="group_id" th:value="${groupDetail.group_id}">
					<input type="hidden" name="group_name" th:value="${groupDetail.group_name}">
				</tr>

				<tr>
					<td colspan="2">選択したユーザ</td>
				</tr>

				<tbody th:if="${selectUser != null}">
					<tr th:each="user : ${selectUser}">
						<td th:text="${user.user_name}"></td>
						<input type="hidden" name="selectedUserId" th:value="${user.user_id}">
						<input type="hidden" name="selectUserName" th:value="${user.user_name}">
					</tr>
				</tbody>

				<tbody th:unless="${selectUser != null}">
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<button type="button" name="button" value="ユーザを選択" class="btn btn-danger"
				onclick="userSelect()">ユーザを選択</button>

			<button type="button" name="button" value="確認" onclick="formSubmit('確認')">確認</button>
			<button type="button" name="button" value="戻る" onclick="formSubmit('戻る')">戻る</button>
		</form>

	</div>

	<!--ユーザを選択ボタンを押した場合-->
	<script>
		function userSelect() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'groupMemberSelect'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			// ボタンの値をhiddenフィールドに設定
			var hiddenField = document.createElement('input');
			hiddenField.type = 'hidden';
			hiddenField.name = 'button';
			hiddenField.value = "グループメンバ追加";
			form.appendChild(hiddenField);

			form.submit();
		}
	</script>

	<!--確認と戻るボタンを押した場合-->
	<script>
		function formSubmit(buttonValue) {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// ボタンの値をhiddenフィールドに設定
			var hiddenField = document.createElement('input');
			hiddenField.type = 'hidden';
			hiddenField.name = 'button';
			hiddenField.value = buttonValue;
			form.appendChild(hiddenField);

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'groupMemberAddConfirm'; // グループ作成確認画面を表示するコントロールのURL
			form.method = 'post';

			form.submit();
		}
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
		
</body>

</html>