<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|グループ編集</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!--共通CSS-->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/control.css}">
	<link rel="stylesheet" th:href="@{/css/list.css}">

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>グループ編集</h2>

		<!--指示文を表示-->
		<p th:if="${Msg}" th:text="${Msg}"></p>

		<!-- エラー文を表示する -->
		<p th:if="${errMsg}" th:text="${errMsg}" style="color: red;"></p>

		<form th:action="@{groupEditConfirm}" method="post" id="form">

			<div class="form-group regist-item">
				<label class="form-label">グループ名</label>
				<div type="text" class="form-control confirmation-field" th:text="${groupDetail.group_name}"></div>
				<input type="hidden" name="group_id" th:if="${groupDetail != null}" th:value="${groupDetail.group_id}">
				<input type="hidden" name="group_name" th:value="${groupDetail.group_name}">
			</div>

			<div class="form-group regist-item">
				<label class="form-label">ジャンル名</label>
				<div type="text" class="form-control confirmation-field" th:text="${groupDetail.genre}"></div>
				<input type="hidden" name="genre" th:value="${groupDetail.genre}">
			</div>

			<div class="row" style="margin-top: 12px;">
				<label class="form-label">リーダかメンバを選択しなおせます<br>
					※チェック有がリーダ,無がメンバ
				</label>
				<div class="col main-content">
					<!--リーダ-->
					<label class="form-label" style="text-decoration: underline;">リーダ</label>
					<div th:each="user : ${leaderUser}">
						<input class="form-check-input" type="checkbox" name="check" th:value="${user.user_id}"
							id="flexCheckDefault" th:checked="${leaderUser.contains(user)}">
						<input type="hidden" name="selectedUserId" th:value="${user.user_id}">

						<span class="form-label" th:text="${user.user_name}"></span>
						<input type="hidden" name="selectUserName" th:value="${user.user_name}">
					</div>
				</div>
				<div class="col main-content">
					<!--メンバ-->
					<label class="form-label" style="text-decoration: underline;">メンバ</label>
					<div th:each="user : ${memberUser}">
						<input class="form-check-input" type="checkbox" name="check" th:value="${user.user_id}"
							id="flexCheckDefault">
						<input type="hidden" name="selectedUserId" th:value="${user.user_id}">

						<span class="form-label" th:text="${user.user_name}"></span>
						<input type="hidden" name="selectUserName" th:value="${user.user_name}">
					</div>
				</div>
			</div>

			<button type="submit" name="button" value="確認" class="control-btn mini-btn">確認</button>
		</form>
	</div>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>