<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|グループ作成</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!--共通CSS-->

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!--ナビゲーションバー-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<img class="iconLink no-wrap" th:src="@{/img/icon.png}" th:onclick="|location.href='@{menu}'|" alt="icon"
				width="48" height="48">
			<span class="nav-title">タスクどん</span>

			<!--ドロップダウンメニュー(開閉)-->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							メニュー
						</button>
						<!--各画面遷移-->
						<ul class="dropdown-menu dropdown-menu-dark">
							<!--メニュー画面遷移-->
							<li><a class="dropdown-item" th:onclick="|location.href='@{menu}'|">ホーム</a></li>
							<li><a class="dropdown-item" th:onclick="|location.href='@{groupList}'|">グループ一覧</a></li>
							<li><a class="dropdown-item" th:onclick="|location.href='@{userList}'|">ユーザ一覧</a></li>
							<!--役職判断処理(管理者のBOSS)-->
							<!--<div th:if="${#strings.startsWith(session.user.user_id, 'ad')}">
								<li><a class="dropdown-item" th:onclick="|location.href='@{teList}'|">講師一覧</a>
								</li>
							</div>-->
							<li><a class="dropdown-item" th:onclick="|location.href='@{schoolDetails}'|">学校情報詳細</a></li>
							<li><a class="dropdown-item" th:onclick="|location.href='@{/nextpage}'|">チャット</a></li>
							<li>
								<hr class="dropdown-divider"> <!--線-->
							</li>
							<li><a class="dropdown-item" th:href="@{/taskdon/user/logout}">ログアウト</a></li>
						</ul>
				</ul>
				</li>
				</ul>
			</div>
		</div>
	</nav>
</head>

<body>
	<div class="container" id="container"> <!-- コンテナ共通 -->
		<h2 class="menu-text">グループ作成</h2>

		<!--指示文を表示-->
		<p th:if="${Msg}" th:text="${Msg}"></p>

		<!-- エラー文を表示する -->
		<p th:if="${errMsg}" th:text="${errMsg}" style="color: red;"></p>

		<form th:action="@{groupCreateConfirm}" method="post">
			<table border="1">
				<tr>
					<th>グループ名</th>

					<td th:if="${group_name != null}">
						<input type="text" name="group_name" th:value="${group_name}">
					</td>

					<td th:unless="${group_name != null}">
						<input type="text" name="group_name" required>
					</td>
				</tr>

				<!--プルダウンメニュー-->
				<tr>
					<th>ジャンル名</th>
					<td>
						<select th:name="genre" th:selected="${genre}">
							<option th:value="卒業研究" th:text="卒業研究" th:selected="${genre == '卒業研究'}">卒業研究</option>
							<option th:value="インターン" th:text="インターン" th:selected="${genre == 'インターン'}">インターン</option>
							<option th:value="設計" th:text="設計" th:selected="${genre == '設計'}">設計</option>
							<option th:value="イベント" th:text="イベント" th:selected="${genre == 'イベント'}">イベント</option>
							<option th:value="その他" th:text="その他" th:selected="${genre == 'その他'}">その他</option>
						</select>
					</td>
				</tr>

				<tr>
					<td colspan="2">選択したユーザ</td>
				</tr>

				<tbody th:if="${selectUser != null}">
					<tr th:each="user : ${selectUser}">
						<td>
							<input class="form-check-input" type="checkbox" name="check" th:value="${user.user_id}"
								id="flexCheckDefault">
							<input type="hidden" name="selectedUserId" th:value="${user.user_id}">
						</td>
						<td th:text="${user.user_name}"></td>
						<input type="hidden" name="selectUserName" th:value="${user.user_name}">
					</tr>
				</tbody>

				<tbody th:unless="${selectUser != null}">
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<button type="button" name="button" value="ユーザを選択" class="btn btn-danger"
				onclick="userSelect()">ユーザを選択</button>

			<button type="button" name="button" value="確認" onclick="formSubmit('確認')">確認</button>
			<button type="button" name="button" value="戻る" onclick="formSubmit('戻る')">戻る</button>
		</form>
	</div>


	<!--ユーザを選択ボタンを押した場合-->
	<script>
		function userSelect() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'groupMemberSelect'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			form.submit();
		}
	</script>


	<!--確認と戻るボタンを押した場合-->
	<script>
		function formSubmit(buttonValue) {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// ボタンの値をhiddenフィールドに設定
			var hiddenField = document.createElement('input');
			hiddenField.type = 'hidden';
			hiddenField.name = 'button';
			hiddenField.value = buttonValue;
			form.appendChild(hiddenField);

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'groupCreateConfirm'; // グループ作成確認画面を表示するコントロールのURL
			form.method = 'post';

			form.submit();
		}
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>