
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>タスクどん_メニュー</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--CSSリンク挿入欄-->
	<link rel="stylesheet" th:href="@{/css/menu1.css}">
</head>

<body>
	<h2>メニュー</h2>
	<div class="menu-container">
		<form name="form1" th:action="@{schoolDetails}" method="get">
			<button type="submit">グループ一覧</button><br>
		</form>

		<form name="form1" th:action="@{schoolDetails}" method="get">
			<button type="submit">学校情報詳細</button><br>
		</form>

		<form name="form1" th:action="@{userList}" method="get">
			<button type="submit">ユーザ一覧</button><br>
		</form>

		<form name="form1" th:action="@{/nextpage}" method="get">
			<button type="submit">チャット</button><br>
		</form>
		<!--ログインしているユーザが大ボスの場合-->
		<div th:if="${#strings.startsWith(session.user.get().getUser_id(), 'ad')}">
			<form name="form1" th:action="@{teInfoRegist}" method="get">
				<button type="submit">講師一覧</button><br>
			</form>
		</div>
	</div>
</body>

</html>