<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん</title>

	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->
</head>

<body>
	<h1>学校情報追加</h1><br>

	<form th:action="@{schoolAddConfirm}" method="post">
		<table>
			<tr>
				<th>教室名</th>
				<td><input type="text" name="no" required></td>
			</tr>

			<tr>
				<th>建物</th>
				<td><input type="text" name="no" required></td>
			</tr>

			<tr>
				<th>階数</th>
				<td><input type="text" name="no" required></td>
			</tr>

			<tr>
				<th>PCの有無</th>
				<select>
					<option th:value="1" th:text="有"></option>
					<option th:value="0" th:text="無"></option>
				</select>
			</tr>

			<tr>
				<td colspan="2" align="right">
					<input type="hidden" name="school_id" th:value="${schoolDetails.school_id}">
					<input type="hidden" name="school_name" th:value="${schoolDetails.school_name}">
					<input type="hidden" name="room_id" th:value="${schoolDetails.room_id}">
					<input type="hidden" name="pc_flg" th:value="${schoolDetails.pc_flg}">
					<input type="hidden" name="school_id" th:value="${schoolDetails.school_id}">
					<input type="submit" value="確認">
				</td>
			</tr>
		</table>
	</form>


</body>

</html>