<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん</title>

	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->
</head>

<body>
	<h1>学校情報削除</h1><br>

	<tr th:each="schoolDetails : ${schoolDelete}" th:if="${schoolDetailsStat.index == 0}">
		<p th:text="'学校ID：' + ${schoolDetails.school_id}">学校ID:</p>
		<p th:text="'学校名：' + ${schoolDetails.school_name}">学校名</p>
	</tr><br>


	<form th:action="@{schoolDeleteConfirm}" method="post">
		<table th:each="schoolDetails : ${schoolDelete}">
			<tr>
				<th>教室名</th>
				<td th:text="${schoolDetails.room_name}"></td>
			</tr>

			<tr>
				<th>建物</th>
				<td th:text="${schoolDetails.hall}"></td>

			</tr>

			<tr>
				<th>階層</th>
				<td th:text="${schoolDetails.floor}"></td>
			</tr>

			<tr>
				<th>PC</th>
				<td th:if="${schoolDetails.pc_flg == 1}">有</td>
				<td th:unless="${schoolDetails.pc_flg == 1}">無</td>
			</tr>

			<tr>
				<td colspan="2" align="right">
					<input type="hidden" name="school_id" th:value="${schoolDetails.school_id}">
					<input type="hidden" name="school_name" th:value="${schoolDetails.school_name}">
					<input type="hidden" name="room_name" th:value="${schoolDetails.room_name}">
					<input type="hidden" name="hall" th:value="${schoolDetails.hall}">
					<input type="hidden" name="floor" th:value="${schoolDetails.floor}">
					<input type="hidden" name="pc_flg" th:value="${schoolDetails.pc_flg}">
					<input type="hidden" name="room_id" th:value="${schoolDetails.room_id}">
					<input type="submit" name="button" value="削除">

					<input type="submit" name="button" value="戻る">
				</td>
			</tr>

		</table>
	</form>

	<!--ポップアップで表示する内容-->
	<form th:action="@{schoolDeleteComp}" method="post">
		<tr th:each="schoolDetails : ${schoolDelete}" th:if="${schoolDetailsStat.index == 0}">
			<input type="hidden" name="school_id" th:value="${schoolDetails.school_id}">
			<input type="hidden" name="school_name" th:value="${schoolDetails.school_name}">
			<input type="hidden" name="room_name" th:value="${schoolDetails.room_name}">
			<input type="hidden" name="hall" th:value="${schoolDetails.hall}">
			<input type="hidden" name="floor" th:value="${schoolDetails.floor}">
			<input type="hidden" name="pc_flg" th:value="${schoolDetails.pc_flg}">
			<input type="hidden" name="room_id" th:value="${schoolDetails.room_id}">
			<input type="submit" name="button" value="はい">
			
			<input type="submit" name="button" value="いいえ">

		</tr><br>
	</form>

</body>

</html>