<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスクどん</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->
</head>
<body>
	<h1>学校情報編集</h1><br>

	<tr th:each="schoolDetails : ${SchoolDisplay}" th:if="${schoolDetailsStat.index == 0}">
		<p th:text="'学校ID：' + ${schoolDetails.school_id}">学校ID:</p>
		<p th:text="'学校名：' + ${schoolDetails.school_name}">学校名</p>
	</tr><br>



	<form th:action="@{schoolEditComp}" method="post">
		<table th:each="schoolDetails : ${SchoolDisplay}">
			<tr>
				<th>教室名</th>
				<td th:text="${schoolDetails.room_name}"></td>
			</tr>

			<tr>
				<th>建物</th>
				<td th:text="${schoolDetails.hall}"></td>
			</tr>

			<tr>
				<th>階層</th>
				<td th:text="${schoolDetails.floor}"></td>
			</tr>

			<tr>
				<th>PC</th>
				<td th:if="${schoolDetails.pc_flg == 1}">有</td>
				<td th:unless="${schoolDetails.pc_flg == 1}">無</td>
			</tr>

			<tr>
				<td colspan="2" align="right">

					<input type="hidden" name="room_id" th:value="${schoolDetails.room_id}">
					<input type="hidden" name="room_name" th:value="${schoolDetails.room_name}">
					<input type="hidden" name="pc_flg" th:value="${schoolDetails.pc_flg}">
					<input type="hidden" name="hall" th:value="${schoolDetails.hall}">
					<input type="hidden" name="floor" th:value="${schoolDetails.floor}">
					<input type="hidden" name="school_id" th:value="${schoolDetails.school_id}">
					<input type="hidden" name="school_name" th:value="${schoolDetails.school_name}">
					<button type="button" name="button" value="編集" class="btn btn-danger"
						onclick="editAndShowPopup()">編集</button>

					<button type="submit" name="button" value="戻る" class="btn btn-info">戻る</button>
				</td>
			</tr>

		</table>
	</form>

	<!-- ポップアップ -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editModalLabel">編集完了</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>編集が完了しました</p>
				</div>
				<div class="modal-footer">
					<form th:action="@{schoolDetails}" method="get">
						<button type="submit" class="btn btn-danger">学校情報詳細へ</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script>
		function editAndShowPopup() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'schoolEditComp'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			// buttonパラメータを追加
			var buttonInput = document.createElement('input');
			buttonInput.type = 'hidden';
			buttonInput.name = 'button';
			buttonInput.value = '編集'; // または '戻る' など必要な値を設定
			form.appendChild(buttonInput);

			form.submit();
		}
	</script>

	<!--ポップアップを表示するためのコード-->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var schoolEditComp = /*[[${schoolEditComp}]]*/ true;
		$(document).ready(function () {
			if (schoolEditComp == true) {
				$('#editModal').modal('show');
			}
		});
		/*]]>*/
	</script>


</body>
</html>