<!-- 学校情報詳細機能(向江) -->
<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|学校情報詳細</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/list.css}">

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>学校情報詳細</h2>

		<!--学校名と学校ID(表示)-->
		<div th:each="schoolDetails : ${schoolS}" th:if="${schoolDetailsStat.index == 0}">

			<div class="mb-3 school-info-text">
				<span class="form-label" id="basic-addon1">学校名</span>
				<div type="text" class="form-control" th:text="${schoolDetails.school_name}"></div>
			</div>

			<div class="mb-3 school-info-text second-text">
				<span class="form-label" id="basic-addon1">学校ID</span>
				<div type="text" class="form-control" th:text="${schoolDetails.school_id}"></div>
			</div>

		</div>

		<form th:action="@{schoolDetailsChange}" th:object="${FormContent}" method="post">

			<!--教室情報一覧表示-->
			<div class="main-content">

				<!--繰り返し処理-->
				<div th:each="schoolDetails : ${schoolS}" class="content-child">

					<div class="row">
						<div class="col">
							<label for="inputPassword5" class="form-label"
								th:text="'教室名：'+${schoolDetails.room_name}"></label>
						</div>
						<div class="col">
							<div class="form-check form-switch form-check-reverse">
								<input class="form-check-input" type="radio" name="flexRadioDefault"
									th:id="${schoolDetails.room_id}" th:value="${schoolDetails.room_id}"
									th:checked="${schoolDetailsStat.index == 0}">
								<label class="form-check-label" th:for="${schoolDetails.room_id}">選択</label>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="mb-3">
								<span class="form-label">建物</span>
								<div type="text" class="form-control" th:text="${schoolDetails.hall}"></div>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<span class="form-label">階層</span>
								<div type="text" class="form-control" th:text="${schoolDetails.floor}"></div>
							</div>
						</div>
						<div class="col">
							<div class="mb-3">
								<span class="form-label">PC</span>
								<div th:if="${schoolDetails.pc_flg == 1}">
									<div type="text" class="form-control" th:text="有"></div>
								</div>
								<div th:unless="${schoolDetails.pc_flg == 1}">
									<div type="text" class="form-control" th:text="無"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<input type="hidden" id="before_room_name" name="before_room_name">

			<div class="btn-group btnS-group">
				<button type="submit" name="button" class="move-btn mini-btn" value="add">追加</button>
				<button type="submit" name="button" class="move-btn mini-btn" value="edit">編集</button>
				<button type="submit" name="button" class="move-btn mini-btn" value="delete">削除</button>
			</div>

		</form>
	</div>

	<script th:inline="javascript">
		$(document).ready(function () {
			$('input[type="radio"]').on('change', function () {
				if ($('input[type="radio"]:checked').length > 0) {
					$('button[name="button"][value="edit"]').prop('disabled', false);
					$('button[name="button"][value="delete"]').prop('disabled', false);
				} else {
					$('button[name="button"][value="edit"]').prop('disabled', true);
					$('button[name="button"][value="delete"]').prop('disabled', true);
				}
			});
		});
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>