<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん</title>

	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->
</head>

<body>
	<h1>学校情報追加</h1><br>

	<tr th:each="schoolDetails : ${schoolAdd}" th:if="${schoolDetailsStat.index == 0}">

		<p th:text="'学校ID：' + ${schoolDetails.school_id}">学校ID:</p>
		<p th:text="'学校名：' + ${schoolDetails.school_name}">学校名</p>

		<form th:action="@{schoolAddConfirm}" method="post">
			<table>
				<tr>
					<th>教室名</th>
					<td><input type="text" name="room_name" required></td>
				</tr>

				<tr>
					<th>建物</th>
					<td><input type="text" name="hall" required></td>
				</tr>

				<tr>
					<th>階数</th>
					<td><input type="text" name="floor" required></td>
				</tr>

				<tr>
					<th>PCの有無</th>
					<td>
						<select name="pc_flg">
							<option th:value="1" th:text="有"></option>
							<option th:value="0" th:text="無"></option>
						</select>
					</td>
				</tr>

				<tr>
					<td colspan="2" align="right">
						<input type="hidden" name="school_id" th:value="${schoolDetails.school_id}">
						<input type="hidden" name="school_name" th:value="${schoolDetails.school_name}">
						<input type="submit" name="button" value="確認">
					</td>
				</tr>
			</table>
		</form>

		<div>
			<form name="form1" th:action="@{schoolDetails}" method="get">
				<!-- 戻るボタン -->
				<button type="submit">戻る</button>
			</form>
		</div>
	</tr><br>
</body>

</html>