<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|学校情報追加</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!--共通CSS-->

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>
	
</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>学校情報追加</h2>

		<!-- エラー文を表示する -->
		<p th:if="${errMsg}" th:text="${errMsg}" style="color: red;"></p>

		<tr th:each="schoolDetails : ${schoolAdd}" th:if="${schoolDetailsStat.index == 0}">

			<p th:text="'学校ID：' + ${schoolDetails.school_id}">学校ID:</p>
			<p th:text="'学校名：' + ${schoolDetails.school_name}">学校名</p>


			<form th:action="@{schoolAddConfirm}" method="post">
				<table>
					<tr>
						<th>教室名</th>
						<td><input type="text" name="room_name" required></td>
					</tr>

					<tr>
						<th>建物</th>
						<td><input type="text" name="hall" required></td>
					</tr>

					<tr>
						<th>階数</th>
						<td><input type="text" name="floor" required></td>
					</tr>

					<tr>
						<th>PCの有無</th>
						<td>
							<select name="pc_flg">
								<option th:value="1" th:text="有"></option>
								<option th:value="0" th:text="無"></option>
							</select>
						</td>
					</tr>

					<tr>
						<td colspan="2" align="right">
							<input type="hidden" name="school_id" th:value="${schoolDetails.school_id}">
							<input type="hidden" name="school_name" th:value="${schoolDetails.school_name}">
							<input type="submit" name="button" value="確認">
						</td>
					</tr>
				</table>
			</form>

			<div>
				<form name="form1" th:action="@{schoolDetails}" method="get">
					<!-- 戻るボタン -->
					<button type="submit">戻る</button>
				</form>
			</div>
		</tr><br>

	</div>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>