<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|学校情報削除</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!--共通CSS-->

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!--ナビゲーションバー-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<img class="iconLink no-wrap" th:src="@{/img/icon.png}" th:onclick="|location.href='@{menu}'|" alt="icon"
				width="48" height="48">
			<span class="nav-title">タスクどん</span>

			<!--ドロップダウンメニュー(開閉)-->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							メニュー
						</button>
						<ul class="dropdown-menu dropdown-menu-dark">
							<ul class="dropdown-menu dropdown-menu-dark">
								<li><a class="dropdown-item" th:onclick="|location.href='@{menu}'|">ホーム</a></li>
								<li><a class="dropdown-item" th:onclick="|location.href='@{groupList}'|">グループ一覧</a></li>
								<li><a class="dropdown-item" th:onclick="|location.href='@{userList}'|">ユーザ一覧</a></li>

								<!--ログインしているユーザが大ボスの場合-->
								<div th:if="${#strings.startsWith(session.user.user_id, 'ad')}">
									<li><a class="dropdown-item" th:onclick="|location.href='@{teList}'|">講師一覧</a>
									</li>
								</div>

								<li><a class="dropdown-item" th:onclick="|location.href='@{schoolDetails}'|">学校情報詳細</a>
								</li>
								<li><a class="dropdown-item" th:onclick="|location.href='@{/nextpage}'|">チャット</a></li>
								<li>
									<hr class="dropdown-divider"> <!--線-->
								</li>
								<li><a class="dropdown-item" th:href="@{/taskdon/user/logout}">ログアウト</a></li>
							</ul>
						</ul>
				</ul>
				</li>
				</ul>
			</div>
		</div>
	</nav>
</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>学校情報削除</h2>

		<tr th:each="schoolDetails : ${schoolDelete}" th:if="${schoolDetailsStat.index == 0}">
			<p th:text="'学校ID：' + ${schoolDetails.school_id}">学校ID:</p>
			<p th:text="'学校名：' + ${schoolDetails.school_name}">学校名</p>
		</tr><br>


		<form th:action="@{schoolDeleteConfirm}" method="post">
			<table th:each="schoolDetails : ${schoolDelete}">
				<tr>
					<th>教室名</th>
					<td th:text="${schoolDetails.room_name}"></td>
				</tr>

				<tr>
					<th>建物</th>
					<td th:text="${schoolDetails.hall}"></td>

				</tr>

				<tr>
					<th>階層</th>
					<td th:text="${schoolDetails.floor}"></td>
				</tr>

				<tr>
					<th>PC</th>
					<td th:if="${schoolDetails.pc_flg == 1}">有</td>
					<td th:unless="${schoolDetails.pc_flg == 1}">無</td>
				</tr>

				<tr>
					<td colspan="2" align="right">
						<button type="button" class="btn btn-danger" data-toggle="modal"
							data-target="#schoolDeleteModal">削除</button>
						<button type="submit" name="button" value="戻る" class="btn btn-info">戻る</button>
					</td>
				</tr>

			</table>
		</form>


		<!-- ポップアップ -->
		<div class="modal fade" id="schoolDeleteModal" tabindex="-1" role="dialog"
			aria-labelledby="schoolDeleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="schoolDeleteModalLabel">削除確認</h5>
					</div>
					<div class="modal-body">
						<p>本当に削除しますか?</p>
					</div>
					<div class="modal-footer">
						<table th:each="schoolDetails : ${schoolDelete}">
							<form th:action="@{schoolDeleteComp}" method="post">
								<input type="hidden" name="school_id" th:value="${schoolDetails.school_id}">
								<input type="hidden" name="school_name" th:value="${schoolDetails.school_name}">
								<input type="hidden" name="room_name" th:value="${schoolDetails.room_name}">
								<input type="hidden" name="hall" th:value="${schoolDetails.hall}">
								<input type="hidden" name="floor" th:value="${schoolDetails.floor}">
								<input type="hidden" name="pc_flg" th:value="${schoolDetails.pc_flg}">
								<input type="hidden" name="room_id" th:value="${schoolDetails.room_id}">
								<button type="submit" name="button" value="はい" class="btn btn-danger">はい</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">いいえ</button>
							</form>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</div>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>