<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん</title>
	
	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->
</head>

<body>
	<h1>学校情報詳細</h1><br>

	<tr th:each="schoolDetails : ${schoolS}" th:if="${schoolDetailsStat.index == 0}">
		<p th:text="'学校ID：' + ${schoolDetails.school_id}">学校ID:</p>
		<p th:text="'学校名：' + ${schoolDetails.school_name}">学校名</p>
	</tr><br>

	<form th:action="@{schoolDetailsChange}" th:object="${FormContent}" method="post">
		<!--教室情報一覧表示-->
		<table border="1">
			<tr>
				<th></th>
				<th>教室名▼</th>
				<th>建物</th>
				<th>階層</th>
				<th>PC▼</th>
			</tr>

			<tr th:each="schoolDetails : ${schoolS}">
				<td><input type="radio" th:value="${schoolDetails.room_id}" name="roomId" th:field="*{content}" /></td>


				<td th:text="${schoolDetails.room_name}"></td>
				<td th:text="${schoolDetails.hall}"></td>
				<td th:text="${schoolDetails.floor}"></td>
				<td th:if="${schoolDetails.pc_flg == 1}">有</td>
				<td th:unless="${schoolDetails.pc_flg == 1}">無</td>

			</tr>
		</table><br>

		<button type="submit" name="button" value="edit">編集</button>
		<button type="submit" name="button" value="add">追加</button>
		<button type="submit" name="button" value="delete">削除</button>
	</form>
</body>

</html>