<!-- 講師退職機能(向江) -->
<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|講師退職</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/control.css}">

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>
</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>講師退職</h2>
		<h3>[退職内容確認]</h3> <!--確認画面用の説明用テキスト-->
		<div class="main-content">
			<form th:action="@{teDeleteComp}" method="post" th:if="${te != null}">

				<div class="mb-3 retirement-item">
					<span class="form-label">講師名</span>
					<div type="text" class="form-control" th:text="${te.user_name}"></div>
				</div>

				<div class="mb-3 retirement-item">
					<span class="form-label">講師ID</span>
					<div type="text" class="form-control" th:text="${te.user_id}"></div>
				</div>

				<div class="mb-3 retirement-item">
					<span class="form-label">所属学校</span>
					<div type="text" class="form-control" th:text="${te.school_name}"></div>
				</div>

				<div class="mb-3 retirement-item">
					<span class="form-label">入学年度</span>
					<div type="text" class="form-control" th:text="${te.enr_year}"></div>
				</div>

				<button type="button" name="button" value="退職" class="control-btn mini-btn"
					onclick="teDeleteAndShowPopup()">退職</button>

				<input type="hidden" name="user_id" th:value="${te.user_id}">
				<input type="hidden" name="user_name" th:value="${te.user_name}">
				<input type="hidden" name="user_pass" th:value="${te.user_pass}">
				<input type="hidden" name="school_name" th:value="${te.school_name}">
				<input type="hidden" name="enr_year" th:value="${te.enr_year}">
				<input type="hidden" name="user_flg" th:value="${te.user_flg}">

			</form>
		</div>

		<!-- 講師削除完了のポップアップ -->
		<div class="modal fade popup-place" id="teDeleteModal" tabindex="-1" role="dialog"
			aria-labelledby="teDeleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<p class="modal-text">退職が完了しました</pm>
					<form th:action="@{teList}" method="get">
						<button type="submit" class="control-btn return-btn">講師一覧へ</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

	<script>
		function teDeleteAndShowPopup() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'teDeleteComp'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			// buttonパラメータを追加
			//var buttonInput = document.createElement('input');
			//buttonInput.type = 'hidden';
			//buttonInput.name = 'button';
			//buttonInput.value = '編集'; // または '戻る' など必要な値を設定
			//form.appendChild(buttonInput);

			form.submit();
		}
	</script>

	<!--ポップアップを表示するためのコード-->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var teDeleteComp = /*[[${teDeleteComp}]]*/ true;
		$(document).ready(function () {
			if (teDeleteComp == true) {
				$('#teDeleteModal').modal('show');
			}
		});
		/*]]>*/
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>