<!-- 向江 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->


</head>

<body>

	<center>
		<h1>タスクどん</h1><br>
		<h2>講師退職確認画面</h2><br>

		<p>退職しますか？</p>

		<form th:action="@{teDeleteComp}" method="post">
			<!--		<div th:object="${user}">-->
			<table border="1">

				<tr>
					<th>項目</th>
					<th>内容</th>
				</tr>
				<tr>
					<th>ユーザID</th>
					<td th:text="${te.user_id}"></td>
				</tr>
				<tr>
					<th>ユーザ名</th>
					<td th:text="${te.user_name}"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td th:text="${te.user_pass}"></td>
				</tr>
				<tr>
					<th>所属学校</th>
					<td th:text="${te.school_name}"></td>
				</tr>
				<tr>
					<th>入学年度</th>
					<td th:text="${te.enr_year}"></td>
				</tr>

			</table>

			<br>
			<br>
			<br>

			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="退職">
				</td>
			</tr>
			<br>
			<br>

			<input type="hidden" name="user_id" th:value="${te.user_id}">
			<input type="hidden" name="user_name" th:value="${te.user_name}">
			<input type="hidden" name="user_pass" th:value="${te.user_pass}">
			<input type="hidden" name="school_name" th:value="${te.school_name}">
			<input type="hidden" name="enr_year" th:value="${te.enr_year}">
			<input type="hidden" name="user_flg" th:value="${te.user_flg}">

		</form>


	</center>
</body>

</html>