<!-- 向江 -->
<!-- 新規講師登録機能 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->
</head>

<body>
	<center>
		<h1>タスクどん</h1>
		<h2>新規講師登録画面</h2>

		<form th:action="@{teInfoRegistConfirm}" method="post">
			<!--			<div th:object="${teInfo}">-->
			<div class="form-group">
				<label>講師ID</label>
				<p>※必須</p>
				<input type="text" id="user_id" name="user_id" placeholder="例:te○○○○○○○○" th:value="${user_id}" required>
			</div>

			<!-- 注釈文 -->
			<h4>※te+8桁の英数字</h4>

			<div class="form-group">
				<label>講師名</label>
				<p>※必須</p>
				<input type="text" id="user_name" name="user_name" th:value="${user_name}" required>
			</div>

			<div class="form-group">
				<label for="school-select">所属学校名</label>
				<p>※必須</p>
				<select name="schoolName" id="school-select">
					<option value="">--選択してください</option>
					<option value="kagoshima">KCS鹿児島情報専門学校</option>
					<option value="fukuoka">KCS福岡情報専門学校</option>
					<option value="kitakyu">KCS北九州情報専門学校</option>
					<option value="oita">KCS大分情報専門学校</option>
					<option value="hiroshima">JOHO 広島情報専門学校</option>
					<option value="osaka">JOHO 大阪情報専門学校</option>
					<option value="nagoya">名古屋医療情報専門学校</option>
					<option value="nagoyamedia">名古屋情報メディア専門学校</option>
					<option value="nigata">JOHO 新潟情報専門学校</option>
					<option value="hokaido">北海道情報専門学校</option>
				</select>
				<input type="text" id="school_name" name="school_name" th:value="${school_name}" required>
			</div>

			<div class="form-group">
				<label>パスワード</label>
				<p>※必須</p>
				<input type="text" id="user_pass" name="user_pass" th:value="${user_pass}" required>
			</div>

			<!-- 注釈文 -->
			<h4>※8桁以上、16桁未満の英数字</h4>

			<div class="form-group">
				<label>確認用パスワード</label>
				<p>※必須</p>
				<input type="text" id="user_rpass" name="user_rpass" th:value="${user_rpass}" required>
			</div>



			<div class="btn-gruop">
				<button type="submit" class="regist-btn">確認</button>
			</div>

			<input type="hidden" name="user_id" th:value="${user.user_id}">
			<input type="hidden" name="user_name" th:value="${user.user_name}">
			<input type="hidden" name="user_pass" th:value="${user.user_pass}">
			<input type="hidden" name="school_name" th:value="${user.school_name}">
			<input type="hidden" name="enr_year" th:value="${user.enr_year}">
			<input type="hidden" name="user_flg" th:value="${user.user_flg}">


		</form>
		<br>
		<br>

	</center>

</body>

</html>