<!-- 向江 -->
<!-- 新規講師登録機能 -->
<!-- 確認 & 完了 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->
</head>

<body>

	<h1>タスクどん</h1>
	<h2>新規講師登録確認画面</h2>



	<form th:action="@{teInfoRegistComp}" method="post">
		<table th:each="te : ${te}">
			<tr>
				<th>講師ID</th>
				<td th:text="${te.user_id}"></td>
			</tr>
			<tr>
				<th>講師名</th>
				<td th:text="${te.user_name}"></td>
			</tr>

			<tr>
				<th>所属学校</th>
				<td th:text="${te.school_name}"></td>
			</tr>
			<tr>
				<th>入社年月日</th>
				<td th:text="${te.enr_year}"></td>
			</tr>
			<tr>
				<td colspan="2" align="right">

					<input type="hidden" name="user_id" th:value="${te.user_id}">
					<input type="hidden" name="user_name" th:value="${te.user_name}">
					<input type="hidden" name="user_pass" th:value="${te.user_pass}">
					<input type="hidden" name="school_name" th:value="${te.school_name}">
					<input type="hidden" name="enr_year" th:value="${te.enr_year}">
					<input type="hidden" name="user_flg" th:value="${te.user_flg}">
					<button type="button" name="button" value="登録" class="btn btn-danger"
						onclick="teInfoRegistAndShowPopup()">登録</button>
						
					<button type="submit" name="button" value="戻る" class="btn btn-info">戻る</button>
				</td>
			</tr>
		</table>
	</form>



	<!-- ポップアップ -->
	<div class="modal fade" id="teInfoRegistModel" tabindex="-1" role="dialog" aria-labelledby="teInfoRegistModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="teInfoRegistModalLabel">登録完了</h5>
				</div>
				<div class="modal-body">
					<p>登録が完了しました</p>
				</div>
				<div class="modal-footer">
					<form th:action="@{teList}" method="get">
						<button type="submit" class="btn btn-danger">講師情報一覧へ</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script>
		function teInfoRegistAndShowPopup() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'teInfoRegistComp'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			// buttonパラメータを追加
			var buttonInput = document.createElement('input');
			buttonInput.type = 'hidden';
			buttonInput.name = 'button';
			buttonInput.value = '登録'; // または '戻る' など必要な値を設定
			form.appendChild(buttonInput);

			form.submit();
		}
	</script>

	<!--ポップアップを表示するためのコード-->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var teInfoRegistComp = /*[[${teInfoRegistComp}]]*/ true;
		$(document).ready(function () {
			if (teInfoRegistComp == true) {
				$('#teInfoRegistModel').modal('show');
			}
		});
		/*]]>*/
	</script>

</body>

</html>