<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|講師一覧</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/list.css}"> <!-- リスト用CSS -->

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>講師一覧
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
				class="bi bi-person-vcard" viewBox="0 0 16 16" style="margin-top: -5px;">
				<path
					d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
				<path
					d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
			</svg>
		</h2>

		<div class="main-content">

			<!-- 繰返し部分 -->
			<div th:each="te : ${tes}" class="content-child">

				<div class="input-group">
					<span class="input-group-text">講師名</span>
					<div th:text="${te.user_name}" class="form-control"></div>
				</div>

				<div class="input-group">
					<span class="input-group-text">講師ID</span>
					<div th:text="${te.user_id}" class="form-control"></div>
				</div>

				<div class="input-group">
					<span class="input-group-text">所属学校</span>
					<div th:text="${te.school_name}" class="form-control"></div>
				</div>

				<div class="input-group">
					<span class="input-group-text">入社年度</span>
					<div th:text="${te.enr_year}" class="form-control"></div>
				</div>

				<div class="row teList-btn-group">
					<div class="col">
						<form th:action="@{teUpdate}" method="post">
							<input type="hidden" name="user_id" th:value="${te.user_id}">
							<input type="hidden" name="user_name" th:value="${te.user_name}">
							<input type="hidden" name="user_pass" th:value="${te.user_pass}">
							<input type="hidden" name="school_name" th:value="${te.school_name}">
							<input type="hidden" name="enr_year" th:value="${te.enr_year}">

							<button type="submit" class="select-btn mini-btn">編集
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
									class="bi bi-pencil-square" viewBox="0 0 16 16" style="margin-bottom: 2px;">
									<path
										d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
									<path fill-rule="evenodd"
										d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
								</svg>
							</button>
						</form>
					</div>

					<div class="col" th:if="${#strings.startsWith(te.user_id, 'te')}">
						<form th:action="@{teDeleteConfirm}" method="post">
							<input type="hidden" name="user_id" th:value="${te.user_id}">
							<input type="hidden" name="user_name" th:value="${te.user_name}">
							<input type="hidden" name="user_pass" th:value="${te.user_pass}">
							<input type="hidden" name="school_name" th:value="${te.school_name}">
							<input type="hidden" name="enr_year" th:value="${te.enr_year}">
							<input type="hidden" name="user_flg" th:value="${te.user_flg}">

							<button type="submit" class="select-btn mini-btn">退職
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
									class="bi bi-person-dash" viewBox="0 0 16 16" style="margin-bottom: 3px;">
									<path
										d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
									<path
										d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
								</svg>
							</button>
						</form>
					</div>

				</div>
			</div>
		</div>

		<button th:onclick="|location.href='@{teInfoRegist}'|" class="move-btn long-btn"
			style="margin-top: 30px; margin-bottom: 20px;">新規登録
			<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-person-add"
				viewBox="0 0 16 16" style="margin-bottom: 3px;">
				<path
					d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
				<path
					d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
			</svg>
		</button>

	</div>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>