<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|ユーザ一覧</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/list.css}"> <!-- リスト用CSS -->

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>ユーザ一覧</h2>

		<div class="row" style="margin-bottom: 14px;">
			<div class="col">
				<!--絞り込み(学校)-->
				<span class="form-label">学校</span>
				<select id="school" name="selectedSchool" class="form-select" th:onchange="groupList()">
					<option value="0">選択なし</option>
					<option name="school_id" th:each="school : ${school}" th:value="${school.school_id}"
						th:text="${school.school_name}">
					</option>
				</select>
			</div>
			<div class="col">
				<!--絞り込み(年度)-->
				<span class="form-label">年度</span>
				<select id="year" name="selectedYear" class="form-select" th:onchange="groupList()">
					<option value="選択なし">選択なし</option>
					<option name="est_year" th:each="year : ${year}" th:value="${year.est_year}"
						th:text="${year.est_year} + 年">
					</option>
				</select>
			</div>
		</div>

		<!--ユーザ一覧表示-->
		<div class=" main-content" id="data">

			<!--繰り返し処理-->
			<div th:each="user : ${users}" class="content-child" style="margin-top: 16px;">
				<div class="row">
					<div class="col">
						<div class="mb-3">
							<span class="form-label">ユーザ名</span>
							<div type="text" class="form-control" th:text="${user.user_name}"></div>
						</div>
					</div>
					<div class="col">
						<div class="mb-3">
							<span class="form-label">ユーザID</span>
							<div type="text" class="form-control" th:text="${user.user_id}"></div>
						</div>
					</div>
				</div>

				<div class="mb-3 user-content">
					<span class="form-label">所属学校</span>
					<div type="text" class="form-control" th:text="${user.school_name}"></div>
				</div>

				<div class="mb-3 user-content">
					<span class="form-label">入学年度</span>
					<div type="text" class="form-control" th:text="${user.enr_year}"></div>
				</div>

				<div class="row  userList-btn-group">
					<div class="col">
						<!-- 削除 -->
						<form th:action="@{userDelete}" method="post">
							<input type="hidden" name="user_id" th:value="${user.user_id}">
							<input type="hidden" name="user_name" th:value="${user.user_name}">
							<input type="hidden" name="user_pass" th:value="${user.user_pass}">
							<input type="hidden" name="school_name" th:value="${user.school_name}">
							<input type="hidden" name="enr_year" th:value="${user.enr_year}">
							<input type="hidden" name="user_flg" th:value="${user.user_flg}">

							<button type="submit" value="削除" class="select-btn">削除</button>

						</form>
					</div>
					<div class="col">
						<!-- パスワード初期化 -->
						<form th:action="@{passClear}" method="post">
							<input type="hidden" name="user_id" th:value="${user.user_id}">
							<input type="hidden" name="user_name" th:value="${user.user_name}">
							<input type="hidden" name="user_pass" th:value="${user.user_pass}">
							<input type="hidden" name="school_name" th:value="${user.school_name}">
							<input type="hidden" name="enr_year" th:value="${user.enr_year}">

							<button type="submit" value="パスワード初期化" class="select-btn">PASS-初期化</button>

						</form>
					</div>
				</div>
			</div>
		</div>

		<form name="form1" th:action="@{userRegist}" method="get">
			<button type="submit" class="move-btn long-btn">ユーザ作成</button><br>
		</form>

	</div>

	<script th:inline="javascript">
		/* グループ結成年度 */
		function groupList() {
			var selectedSchool;
			var selectedYear;

			var a = document.getElementsByClassName("form-select");
			for (var i = 0; i < a.length; i++) {
				a[i].append(a[i].selected)
				if (i == 0) {
					selectedSchool = a[i].value;
				} else if (i == 1) {
					selectedYear = a[i].value;
				}
			}

			/*URL指定＆ドロップダウンリストの値引き渡し*/
			var url = "userList";
			var params = {
				"selectedSchool": selectedSchool,
				"selectedYear": selectedYear
			};

			/*HTML内容のクリア*/
			var elements = document.getElementsByClassName("main-content");
			for (var i = 0; i < elements.length; i++) {
				elements[i].innerHTML = "";
			}
			/*グループ一覧表示メソッドの呼び出し*/
			$.ajax({
				type: "GET",
				url: url,
				data: params,
				success: function (data) {
					var html = $(data).find(".main-content").html();
					document.getElementById("data").innerHTML = html;
				}
			});
		}
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>

</html>