<!-- 向江 -->
<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|ユーザ削除</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/control.css}">

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>ユーザ削除</h2>
		<h3>[削除内容確認]</h3> <!--確認画面用の説明用テキスト-->

		<h5 style="color: crimson;">ユーザを削除すれば元には戻せません</h5>

		<div th:if="${user != null}">
			<form th:action="@{userDeleteConfirm}" method="post">
				<div class="mb-3">
					<span class="form-label" id="basic-addon1">ユーザID</span>
					<div type="text" class="form-control" th:text="${user.user_id}"></div>
				</div>

				<div class="mb-3">
					<span class="form-label" id="basic-addon1">ユーザ名</span>
					<div type="text" class="form-control" th:text="${user.user_name}"></div>
				</div>

				<div class="mb-3">
					<span class="form-label" id="basic-addon1">所属学校</span>
					<div type="text" class="form-control" th:text="${user.school_name}"></div>
				</div>

				<div class="mb-3">
					<span class="form-label" id="basic-addon1">入学年度</span>
					<div type="text" class="form-control" th:text="${user.enr_year}"></div>
				</div>

				<div class="form-check">
					<label class="form-check-label" for="flexCheckDefault">
						<u>内容を確認しました</u>
					</label>
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				
				<div id="message" style="display: none; color: dimgray;">※チェックボックスにチェックしてください</div>

				<button type="button" name="button" value="削除" class="control-btn mini-btn"
					onclick="userDereteAndShowPopup()">削除</button>

				<input type="hidden" name="user_id" th:value="${user.user_id}">
				<input type="hidden" name="user_name" th:value="${user.user_name}">
				<input type="hidden" name="user_pass" th:value="${user.user_pass}">
				<input type="hidden" name="school_name" th:value="${user.school_name}">
				<input type="hidden" name="enr_year" th:value="${user.enr_year}">
				<input type="hidden" name="user_flg" th:value="${user.user_flg}">

			</form>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

	<!-- ポップアップ -->
	<div class="modal fade popup-place" id="userDeleteModal" tabindex="-1" role="dialog"
		aria-labelledby="userDeleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<p class="modal-text">削除が完了しました</p>
				<form th:action="@{userList}" method="get">
					<button type="submit" class="control-btn return-btn">ユーザ一覧へ</button>
				</form>
			</div>
		</div>
	</div>


	<!--コントロールを呼び出す-->
	<script>
		function userDereteAndShowPopup() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'userDeleteConfirm'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			form.submit();
		}
	</script>


	<!--ポップアップを表示するためのコード-->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var userDeleteConfirm = /*[[${userDeleteConfirm}]]*/ true;
		$(document).ready(function () {
			if (userDeleteConfirm == true) {
				$('#userDeleteModal').modal('show');
			}
		});
		/*]]>*/
	</script>


	<!--チェックボックスが押されていない間ボタンを無効化-->
	<script>
		$(document).ready(function () {
			$('#flexCheckDefault').on('change', function () {
				if ($(this).is(':checked')) {
					$('button[name="button"]').prop('disabled', false);
					$('#message').hide();
				} else {
					$('button[name="button"]').prop('disabled', true);
					$('#message').show();
				}
			});
			$('button[name="button"]').prop('disabled', true);
			$('#message').show();
		});
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>