<!-- 末吉 -->
<!-- 新規ユーザ登録機能 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/header.css}">

	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->
</head>

<body>
	<div class="container" id="container"> <!--コンテナ共通-->
		<h1>新規ユーザ登録</h1>

		<form th:action="@{userRegistConfirm}" method="post" enctype="multipart/form-data">
			<div class="input-group mb-3">
				<input type="file" class="form-control" id="inputGroupFile02" name="csvFile">
				<label class="input-group-text" for="inputGroupFile02">Upload</label>
			</div>

			<button type="button" id="uploadButton" class="btn btn-primary">アップロード</button>
		</form>

		<script>
			document.getElementById('uploadButton').addEventListener('click', function() {
				var form = document.querySelector('form');
				form.submit();
			});
		</script>

	</div>
</body>

</html>