<!-- グループ詳細機能(向江) -->
<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|メンバ一覧</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/list.css}">

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerUser">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>メンバ一覧
			<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-people"
				viewBox="0 0 16 16" style="margin-bottom: 5px; margin-left: -3px;">
				<path
					d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
			</svg>
		</h2>

		<div th:each="groupDetails : ${group}" th:if="${groupDetailsStat.index == 0}">


			<!--		<h3 th:text="${group.group_name}"></h3>-->
			<!--		<h3 th:text="${group.genre}"></h3>-->


			<div class="group-detail-text-view">
				<!-- グループ全体の進捗率(バー&パーセント)を表示する -->
				<span class="form-label">全体進捗</span>
				<div class="progress group-progress all-progress" role="progressbar">
					<div class="progress-bar progress-bar-striped progress-bar-animated"
						th:style="'width:'+ ${progress}+'%'"><label class="var-text group-progress-text"
							th:text="${progress}+'%'"></div>
				</div>
			</div>

		</div>

		<!--メイン項目-->
		<div class="main-content">

			<div th:each="group : ${group}" class="content-child">

				<div class="row">
					<div class="col">

					</div>
					<div class="col score-view">
						<div class="input-group">
							<span class="input-group-text">スコア</span>
							<div type="text" class="form-control" th:text="${group.score}"></div>
						</div>
					</div>
				</div>

				<div class="group-detail-text-view">
					<span class="form-label">メンバ</span>
					<div type="text" class="form-control" th:text="${group.user_name}"></div>
				</div>

				<!-- メンバの進捗率(バー&パーセント)を表示する -->
				<span class="form-label">進捗</span>
				<div class="progress group-progress individual-progress" role="progressbar">
					<div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
						th:style="'width:'+ ${group.user_progress}+'%'"><label class="var-text group-progress-text"
							th:text="${group.user_progress}+'%'"></div>
				</div>

				<!--				<td th:text="${group.app_date}"></td> 更新日 後回しのやつ -->

				<!-- メンバ詳細 -->
				<form th:action="@{memberDetails}" method="post">
					<input type="hidden" name="user_id" th:value="${group.user_id}">
					<input type="hidden" name="user_progress" th:value="${group.user_progress}">
					<input type="hidden" name="user_name" th:value="${group.user_name}">
					<input type="hidden" name="group_id" th:value="${group.group_id}">
					<button type="submit" name="button" class="select-btn mini-btn" value="詳細">詳細</button>
				</form>

			</div>
		</div>

		<!--bootstrapのjsリンク接続-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
			crossorigin="anonymous"></script>

</body>

</html>