<!-- グループメンバ詳細機能(向江) -->
<!-- 必須情報(下記2項目) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|メンバ詳細</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->

	<!-- 共通header呼出し(管理者用) -->
	<div>
		<th:block th:insert="fragment/header :: headerAdmin">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>メンバ詳細</h2>
		<div>
			<div th:each="memberTask:${memberTask}" th:if="${memberTaskStat.index == 0}" id="data">
				<p th:text="${memberTask.user_name}"></p>
				<p th:text="'スコア：' + ${memberTask.score}"></p>


				<!-- ユーザの進捗率(バー&パーセント)を表示する -->
				<div class="overview">
					<div th:text="'進捗率：' + ${memberTask.user_progress} + '％'"></div>
					<div class="w-auto p-3">
						<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar" th:style="'width:'+ ${memberTask.user_progress}+'%'"></div>
						</div>
					</div>
				</div>
				<!-- 絞り込みドロップダウンリスト-->
				<div class="col-md-6">
					<select class="form-select" aria-label="Default select example" name="selectedValue"
						th:onchange="taskList(this.value)">
						<option selected>--</option>
						<option name="select_category" th:each="category : ${Category}"
							th:value="${category.task_category}" th:text="${category.task_category}">
						</option>
					</select>
				</div>
				<input type="hidden" name="group_id" th:value="${memberTask.group_id}">
				<input type="hidden" name="user_id" th:value="${memberTask.user_id}">
			</div>
			<div class="search-result" id="result">
				<div th:each="memberTask:${memberTask}">
					<div th:text="'タスク：' + ${memberTask.task_name}"></div>
					<div th:text="'優先度：' + ${memberTask.task_priority}"></div>
					<div th:text="'進捗率：' + ${memberTask.progress} + '％'"></div>
					<div class="w-25 p-3">
						<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0"
							aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar" th:style="'width:'+ ${memberTask.progress}+'%'"></div>
						</div>
					</div>
					<!--				<td th:text="${group.app_date}"></td> 更新日 後回しのやつ -->
					<div>
						<!--タスク詳細 -->
						<form th:action="@{taskDetails}" method="post">
							<input type="hidden" name="task_id" th:value="${memberTask.task_id}">
							<button type="submit" name="button" class="btn btn-detail" value="詳細">詳細</button>
						</form>
					</div>

				</div>
			</div>
		</div>


		<!-- コンテナ最下のボタン -->
		<!--		<button th:onclick="|location.href='@{/taskdon/admin/groupDetail}'|">戻る</button>-->
	</div>

	<!--処理コード欄-->
	<script th:inline="javascript">
		function taskList(selectedValue) {
			var form = document.getElementById("data");
			var groupId = form.querySelector("[name='group_id']").value;
			var userId = form.querySelector("[name='user_id']").value;
			/*URL指定＆ドロップダウンリストの値引き渡し*/
			var url = "memberDetails";
			var params = {
				"selectedValue": selectedValue,
				"groupId": groupId,
				"userId": userId
			};
			/*HTML内容のクリア*/
			var elements = document.getElementsByClassName("search-result");
			for (var i = 0; i < elements.length; i++) {
				elements[i].innerHTML = "";
			}
			/*タスク一覧表示メソッドの呼び出し*/
			$.ajax({
				type: "POST",
				url: url,
				data: params,
				success: function (data) {
					var html = $(data).find(".search-result").html();
					document.getElementById("result").innerHTML = html;
				}
			});
		}
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>

</html>