<!-- 連絡事項作成 -->
<!-- 必須情報(下記2項目) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|連絡事項作成</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通 -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通 -->
	<link rel="stylesheet" th:href="@{/css/control.css}">

	<!-- ウェブアイコン -->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!-- 共通header呼出し(ユーザ用) -->
	<div>
		<th:block th:insert="fragment/header :: headerUser">
	</div>
</head>

<body>
	<!-- コンテナ -->
	<div class="container">

		<h2>連絡事項作成
			<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
				class="bi bi-envelope-plus" viewBox="0 0 16 16" style="margin-top: -6px; margin-left: -2px;">
				<path
					d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z" />
				<path
					d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5" />
			</svg>
		</h2>

		<p>グループメンバ全員に対しての送信内容</p>

		<form th:action="@{noticeRegistConfirm}" method="post">

			<div class="form-group" style="margin-top: 20px;">
				<label for="exampleFormControlInput1" class="form-label" style="margin-bottom: 0px;">タイトル
					<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
						class="bi bi-pen-fill" viewBox="0 0 16 16" style="margin-top: -3px;">
						<path
							d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
					</svg>
				</label>
				<input type="text" class="form-control" name="title" required>
			</div>

			<div class="form-group" style="margin-top: 20px;">
				<label for="exampleFormControlInput1" class="form-label" style="margin-bottom: 0px;">メイン内容
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
						class="bi bi-pencil-square" viewBox="0 0 16 16" style="margin-top: -3.5px;">
						<path
							d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
						<path fill-rule="evenodd"
							d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
					</svg>
				</label>
				<textarea type="text" class="form-control" name="contact_msg" rows="5" required></textarea>
			</div>

			<!-- 確認ボタン -->
			<button type="submit" class="control-btn long-btn" style="margin-top: 30px; margin-bottom: 30px;">確認
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
					class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="margin-top: -4.5px;">
					<path fill-rule="evenodd"
						d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
				</svg>
			</button>

		</form>

	</div>

	<!-- bootstrapのjsリンク接続 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>