<!-- ユーザ用メニュー(名称:ホーム) -->
<!-- 連絡事項表示のhtml -->
<!-- あとでmenuUser.htmlに埋め込む -->
<!-- 必須情報(下記2項目) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

	<!-- サイトタイトル -->
	<title>タスクどん|メニュー</title>

	<!-- デザイン等 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!-- CSS接続 -->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/body.css}"> <!-- 共通CSS -->

	<!-- 共通header呼出し(ユーザ用) -->
	<div>
		<th:block th:insert="fragment/header :: headerUser">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>連絡事項削除</h2>
		<h3>[削除内容確認]</h3>

		<form th:action="@{noticeDeleteConfirm}" method="post">
			<p>本当に削除しますか？</p>
			<div th:each="notice : ${notice}">
				<div th:text="${notice.user_name}"></div>
				<div th:text="${notice.title}"></div>
				<div th:text="${notice.contact_msg}"></div>
				<div th:text="${notice.send_date}"></div>
				<input type="hidden" name="notice_id" th:value="${notice.notice_id}">
			</div>
			<button type="submit" name="action" value="yes" class="btn">削除</button>
			<button type="submit" name="action" value="no" class="btn btn-back">いいえ</button>
		</form>
	</div>

	<!-- bootstrapのjsリンク接続 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>