<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん|タスク承認確認</title> <!--サイトタイトル-->

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/taskS.css}">
</head>

<body>
	<!--各画面ごとのメイン内容-->
	<div class="container" id="container"> <!--コンテナ共通-->
		<!--画面タイトル左のメニュー遷移機能を持つアイコン(ボタン)-->
		<img class="iconLink no-wrap" th:src="@{/img/icon.png}" th:onclick="|location.href='@{menu}'|" alt="icon"
			width="48" height="48">
		<h2 class="no-wrap">【タスク承認確認】</h2><br> <!--画面タイトル-->
		<div class="content">
			<form th:action="@{taskAppComplete}" method="post">
				<div th:each="task : ${taskAppConf}" class="content_child" id="data">
					<table border="1">
						<tr>
							<th>メンバ</th>
							<th>申請日</th>
						</tr>
						<tr>
							<td>
								<div type="text" class="text_child" th:text="${task.user_name}"
									th:value="${task.user_name}"></div>
							</td>
							<td>
								<div class="text_child" th:text="${task.add_date}"></div>
							</td>
						</tr>
					</table><br>
					<table border="1">
						<tr>
							<th>タスクカテゴリ</th>
							<td>
								<div class="text_child" th:text="${task.req_category}"></div>
							</td>
						</tr>
						<tr>
							<th>タスク名</th>
							<td>
								<div class="text_child" th:text="${task.req_name}"></div>
							</td>
						</tr>
						<tr>
							<th>タスク内容</th>
							<td>
								<div class="text_child" th:text="${task.req_content}"></div>
							</td>
						</tr>
						<tr>
							<th>申請理由</th>
							<td>
								<div class="text_child" th:text="${task.req_reason}"></div>
							</td>
						</tr>
					</table>
					<br>
					<table border="1">
						<tr>
							<th>開始日</th>
							<td><input type="date" id="start_date" name="start_date" min="1900-01-01" max="9999-12-31">
							</td>
						</tr>
						<tr>
							<th>終了日</th>
							<td><input type="date" id="end_date" name="end_date" min="1900-01-01" max="9999-12-31"></td>
						</tr>
						<tr>
							<th id="priority">優先度</th>
							<td>
								<select name="task_priority" required>
									<option>--選択してください</option>
									<option name="task_priority">1</option>
									<option name="task_priority">2</option>
									<option name="task_priority">3</option>
									<option name="task_priority">4</option>
									<option name="task_priority">5</option>

								</select>
							</td>
						</tr>
						<tr>
							<th id="level">難易度</th>
							<td>
								<select name="task_level" required>
									<option>--選択してください</option>
									<option name="task_level">1</option>
									<option name="task_level">2</option>
									<option name="task_level">3</option>
									<option name="task_level">4</option>
									<option name="task_level">5</option>
								</select>
							</td>
						</tr>
						<!--参照のみ-->
						<tr class="col">
							<th class="form-label">重み</th>
							<td><input class="form-control" type="text" id="result" name="task_weight"
								aria-label="readonly input example" readonly></td>

							<!--JavaScript挿入欄(重み計算)-->
							<script th:inline="javascript">
								const priority = document.getElementById("priority").nextElementSibling;
								const level = document.getElementById("level").nextElementSibling;

								priority.addEventListener('change', calculate);
								level.addEventListener('change', calculate);
								calculate();

								function calculate() {
									const value1 = priority.value;
									const value2 = level.value;
									const resultValue = parseInt(value1) * parseInt(value2);
									document.getElementById("result").value = resultValue;
								}
							</script>
							</input>
						</tr>
					</table>
					<div>

						<input type="hidden" name="request_id" th:value="${task.request_id}">
						<input type="hidden" name="user_name" th:value="${task.user_name}">
						<input type="hidden" name="add_date" th:value="${task.add_date}">
						<input type="hidden" name="req_name" th:value="${task.req_name}">
						<input type="hidden" name="req_category" th:value="${task.req_category}">
						<input type="hidden" name="req_content" th:value="${task.req_content}">
						<input type="hidden" name="req_reason" th:value="${task.req_reason}">
						<input type="submit" value="承認">

					</div>

				</div>
			</form>

		</div>
	</div>

</body>

</html>