<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん|タスク未承認一覧</title> <!--サイトタイトル-->

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/taskS.css}">
</head>

<body>
	<!--各画面ごとのメイン内容-->
		<div class="container" id="container"> <!--コンテナ共通-->
			<!--画面タイトル左のメニュー遷移機能を持つアイコン(ボタン)-->
			<img class="iconLink no-wrap" th:src="@{/img/icon.png}" th:onclick="|location.href='@{menu}'|" alt="icon"
				width="48" height="48">
			<h2 class="no-wrap">【タスク未承認一覧】</h2><br> <!--画面タイトル-->
			<div class="content">
				<div th:each="task : ${taskNonapp}" class="content_child" id="data">
					<div class="text_child" th:text="${task.task_name}"></div>
					<div class="text_child" th:text="'優先度：'+${task.task_priority}"></div>
					<div class="text_child" th:text="${task.task_status}"></div>
					<div class="text_child" th:text="'締切日'+${task.end_date}"></div>
					<div class="text_child" th:text="'進捗' + ${task.progress} + '％'"></div>
					<div>
						<form th:action="@{taskDetails}" method="post">
							<input type="hidden" name="task_id" th:value="${task.request_id}">
							<input type="hidden" name="task_name" th:value="${task.req_category}">
							<input type="hidden" name="task_category" th:value="${task.req_name}">
							<input type="hidden" name="task_content" th:value="${task.req_content}">
							<input type="hidden" name="task_priority" th:value="${task.req_reason}">
							<input type="hidden" name="progress" th:value="${task.app_date}">
							<input type="hidden" name="start_date" th:value="${task.user_id}">
							<input type="submit" value="確認">
						</form>
					</div>
				</div>
			</div>
		</div>
</body>

</html>