<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスクどん</title>

	<a th:href="@{/taskdon/admin/logout}">ログアウト</a><!-- 右寄せにする -->
</head>

<body>
	<form th:action="@{*}" method="post">
		<div>
			<input type="text" th:value="${task.task_name}"></input>
		</div>
		<div>
			<input type="text" th:value="${task.task_category}"></input>
		</div>
		<div>
			<input type="text" th:value="${task.task_content}"></input>
		</div>
		<div>
			<input type="text" th:value="${task.user_name}"></input>
		</div>
		<div>
			<label>優先度：</label>
			<select class="form-select" name="task_priority" aria-label="Default select example" required>
				<option value="1" th:selected="${task.task_priority == '1'}">1</option>
				<option value="2" th:selected="${task.task_priority == '2'}">2</option>
				<option value="3" th:selected="${task.task_priority == '3'}">3</option>
				<option value="4" th:selected="${task.task_priority == '4'}">4</option>
				<option value="5" th:selected="${task.task_priority == '5'}">5</option>
			</select>
		</div>
		<div>
			<label>開始予定日：</label>
			<input type="text" th:value="${task.start_date}"></input>
		</div>
		<div>
			<label>終了予定日：</label>
			<input type="text" th:value="${task.end_date}"></input>
		</div>
		<button type="submit" name="button" value="edit">確認</button>
	</form>
</body>

</html>