<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|タスク申請</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!--共通CSS-->
	<link rel="stylesheet" th:href="@{/css/taskS.css}">

	<!-- 共通header呼出し(ユーザ用) -->
	<div>
		<th:block th:insert="fragment/header :: headerUser">
	</div>

</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>タスク申請</h2>
		<h3>[申請内容確認]</h3> <!--確認画面用の説明用テキスト-->

		<div class="form-group">
			<label class="form-label">申請者</label>
			<div th:text="${taskRequest.user_name}" class="form-control" readonly></div>
		</div>

		<div class="form-group">
			<label class="form-label">タスク名</label>
			<div th:text="${taskRequest.req_name}" class="form-control" readonly></div>
		</div>

		<div class="form-group">
			<label class="form-label">カテゴリ</label>
			<div th:text="${taskRequest.req_category}" class="form-control" readonly></div>
		</div>

		<div class="form-group">
			<label class="form-label">概要</label>
			<textarea th:text="${taskRequest.req_content}" class="form-control" readonly></textarea>
		</div>

		<div class="form-group">
			<label class="form-label">申請理由</label>
			<textarea th:text="${taskRequest.req_reason}" class="form-control" readonly></textarea>
		</div>

		<form th:action="taskRegistComplete" method="post">
			<input type="hidden" name="req_name" th:value="${taskRequest.req_name}">
			<input type="hidden" name="req_category" th:value="${taskRequest.req_category}">
			<input type="hidden" name="req_content" th:value="${taskRequest.req_content}">
			<input type="hidden" name="req_reason" th:value="${taskRequest.req_reason}">
			<input type="hidden" name="user_name" th:value="${taskRequest.user_name}">
			<button type="submit" name="button" value="request" class="Confirm-btn"
				onclick="taskRequestAndShowPopup()">申請</button>
		</form>

		<!-- ポップアップ -->
		<div class="modal fade" id="taskRequestModal" tabindex="-1" role="dialog"
			aria-labelledby="taskRequestModalLabel" aria-hidden="true" style="margin-top: 180px;">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<p class="modal-text">登録が完了しました</p>
					<button th:onclick="|location.href='@{/taskdon/user/taskList}'|" class="Confirm-btn"
						style="margin-bottom: 18px; width: 160px;">タスク一覧へ</button>
				</div>
			</div>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

	<script>
		function taskRequestAndShowPopup() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'taskRequestComplete'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			// buttonパラメータを追加
			var buttonInput = document.createElement('input');
			buttonInput.type = 'hidden';
			buttonInput.name = 'button';
			buttonInput.value = 'request'; // または '戻る' など必要な値を設定
			form.appendChild(buttonInput);

			form.submit();
		}
	</script>

	<!--ポップアップを表示するためのコード-->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var taskRequestComp = /*[[${taskRequestComp}]]*/ true;
		$(document).ready(function () {
			if (taskRequestComp == true) {
				$('#taskRequestModal').modal('show');
			}
		});
		/*]]>*/
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

</body>

</html>