<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">

	<!--サイトタイトル-->
	<title>タスクどん|タスク一覧</title>

	<!--デザイン等-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<!--CSS接続-->
	<link rel="stylesheet" th:href="@{/css/header.css}"> <!--共通CSS-->
	<link rel="stylesheet" th:href="@{/css/taskS.css}">

	<!--ウェブアイコン-->
	<link rel="icon" type="image/png" th:href="@{/img/web_icon.png}">

	<!--ナビゲーションバー-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<img class="iconLink no-wrap" th:src="@{/img/icon.png}" th:onclick="|location.href='@{menu}'|" alt="icon"
				width="48" height="48">
			<span class="nav-title">タスクどん</span>

			<!--ドロップダウンメニュー(開閉)-->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							メニュー
						</button>
						<!--各画面遷移-->
						<ul class="dropdown-menu dropdown-menu-dark">
							<!--メニュー画面遷移-->
							<li><a class="dropdown-item" th:onclick="|location.href='@{menu}'|">ホーム</a></li>
							<!--役職判断処理-->
							<div th:if="${session.user_roll} == 'リーダ'">
								<li><a class="dropdown-item" href="#">メンバ一覧</a></li>
							</div>
							<li><a class="dropdown-item" th:onclick="|location.href='@{taskList}'|">タスク一覧</a></li>
							<li><a class="dropdown-item" href="#">ToDoリスト</a></li>
							<!--役職判断処理-->
							<div th:if="${session.user_roll} == 'リーダ'">
								<li><a class="dropdown-item" href="#">連絡事項作成</a></li>
							</div>
							<li><a class="dropdown-item" href="#">チャット</a></li>
							<li>
								<hr class="dropdown-divider"> <!--線-->
							</li>
							<li><a class="dropdown-item" href="#">所属グループ</a></li>
							<li><a class="dropdown-item" th:href="@{/taskdon/user/logout}">ログアウト</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</head>

<body>
	<!--コンテナ-->
	<div class="container">

		<h2>タスク登録</h2>
		<h3>[登録内容確認]</h3> <!--確認画面用の説明用テキスト-->
		<div>
			<label>申請者</label>
			<div th:text="${taskRequest.user_name}" readonly></div>
		</div>

		<div>
			<label>タスク名</label>
			<div th:text="${taskRequest.req_name}" readonly></div>
		</div>

		<div>
			<label>タスクカテゴリ</label>
			<div th:text="${taskRequest.req_category}" readonly></div>
		</div>
		<div>
			<label>タスク内容</label>
			<div th:text="${taskRequest.req_content}" readonly></div>
		</div>
		<div>
			<label>申請理由</label>
			<div th:text="${taskRequest.req_reason}" readonly></div>
		</div>

		<form th:action="taskRegistComplete" method="post">
			<input type="hidden" name="req_name" th:value="${taskRequest.req_name}">
			<input type="hidden" name="req_category" th:value="${taskRequest.req_category}">
			<input type="hidden" name="req_content" th:value="${taskRequest.req_content}">
			<input type="hidden" name="user_name" th:value="${taskRequest.user_name}">
			<button type="submit" name="button" value="request" class="btn btn-danger"
				onclick="taskRequestAndShowPopup()">申請</button>
		</form>
		<!-- ポップアップ -->
		<div class="modal fade" id="taskRequestModal" tabindex="-1" role="dialog" aria-labelledby="taskRequestModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="taskRequestModalLabel">登録完了</h5>
					</div>
					<div class="modal-body">
						<p>登録が完了しました</p>
					</div>
					<div class="modal-footer">
						<button th:onclick="|location.href='@{/taskdon/user/taskList}'|"
							class="btn btn-danger">タスク一覧へ</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

	<script>
		function taskRequestAndShowPopup() {
			// フォーム要素を取得
			var form = document.querySelector('form');

			// コントローラメソッドを呼び出すためにフォームを送信
			form.action = 'taskRequestComplete'; // コントローラメソッドの実際のURLに置き換えてください
			form.method = 'post';

			// buttonパラメータを追加
			var buttonInput = document.createElement('input');
			buttonInput.type = 'hidden';
			buttonInput.name = 'button';
			buttonInput.value = 'request'; // または '戻る' など必要な値を設定
			form.appendChild(buttonInput);

			form.submit();
		}
	</script>

	<!--ポップアップを表示するためのコード-->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var taskRequestComp = /*[[${taskRequestComp}]]*/ true;
		$(document).ready(function () {
			if (taskRequestComp == true) {
				$('#taskRequestModal').modal('show');
			}
		});
		/*]]>*/
	</script>

	<!--bootstrapのjsリンク接続-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>