<!--Header内部用の共通HTML-->
<!--必須情報(下記2項目)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!--必須項目-->
	<meta charset="UTF-8">
</head>

<body>
	<!--共通head(ユーザ用)-->
	<div th:fragment="headerUser">

		<!--ナビゲーションバー-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<form th:action="@{/taskdon/user/menu}" method="post">
					<input type="image" class="iconLink menu-link" th:src="@{/img/icon.png}" alt="icon" width="48"
						height="48" style="margin-bottom: -6.5px;">
				</form>
				<span class="nav-title">タスクどん</span>

				<!--ドロップダウンメニュー(開閉)-->
				<!--開閉ボタン-->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<!--メニュー開閉ボタン-->
							<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
								aria-expanded="false">
								メニュー
							</button>

							<!--各画面遷移-->
							<ul class="dropdown-menu dropdown-menu-dark">

								<!--ホーム画面(menuUser)遷移-->

								<li class="screen-btn">
									<form th:action="@{/taskdon/user/menu}" method="post">
										<input type="submit" value="ホーム" class="dropdown-item menu-link">
									</form>
								</li>

								<!--役職判断処理-->
								<div th:if="${session.user_roll} == 'リーダ'">
									<li class="screen-btn"><a class="dropdown-item menu-link"
											th:onclick="|location.href='@{memberList}'|">メンバ一覧</a>
									</li>
								</div>

								<li class="screen-btn"><a class="dropdown-item menu-link"
										th:onclick="|location.href='@{taskList}'|">タスク一覧</a></li>

								<li class="screen-btn"><a class="dropdown-item menu-link"
										th:onclick="|location.href='@{todoList}'|">ToDoリスト</a></li>

								<!--役職判断処理-->
								<div th:if="${session.user_roll} == 'リーダ'">
									<li class="screen-btn"><a class="dropdown-item menu-link"
											th:onclick="|location.href='@{noticeRegist}'|">連絡事項作成</a></li>
								</div>

								<li class="screen-btn"><a class="dropdown-item menu-link"
										th:onclick="|location.href='@{chat}'|">チャット</a></li>

								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="screen-btn"><a class="dropdown-item"
										th:href="@{/taskdon/user/deptGroupList}">所属グループ</a></li>

								<li class="screen-btn"><a class="dropdown-item" th:href="@{/taskdon/user/logout}">ログアウト
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
											fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16"
											style="margin-bottom: 2px;">
											<path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1" />
											<path
												d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z" />
										</svg>
									</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<!--共通head(管理者用)-->
	<div th:fragment="headerAdmin">

		<!--ナビゲーションバー-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<img class="iconLink no-wrap" th:src="@{/img/icon.png}" th:onclick="|location.href='@{menu}'|"
					alt="icon" width="48" height="48">
				<span class="nav-title">タスクどん</span>

				<!--ドロップダウンメニュー(開閉)-->
				<!--開閉ボタン-->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<!--メニュー開閉ボタン-->
							<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
								aria-expanded="false">
								メニュー
							</button>

							<!--各画面遷移-->
							<ul class="dropdown-menu dropdown-menu-dark">

								<!--ホーム画面(menuAdmin)遷移-->
								<li class="screen-btn"><a class="dropdown-item"
										th:onclick="|location.href='@{menu}'|">ホーム</a></li>

								<li class="screen-btn"><a class="dropdown-item"
										th:onclick="|location.href='@{groupList}'|">グループ一覧</a></li>

								<li class="screen-btn"><a class="dropdown-item"
										th:onclick="|location.href='@{userList}'|">ユーザ一覧</a></li>

								<li class="screen-btn"><a class="dropdown-item"
										th:onclick="|location.href='@{schoolDetails}'|">学校情報詳細</a>
								</li>

								<!--役職判断処理(管理者のBOSSの場合非表示)-->
								<div th:if="${#strings.startsWith(session.user.user_id, 'te')}">
									<li class="screen-btn"><a class="dropdown-item"
											th:onclick="|location.href='@{chat}'|">チャット</a></li>
								</div>

								<!--役職判断処理(管理者のBOSSの場合表示)-->
								<div th:if="${#strings.startsWith(session.user.user_id, 'ad')}">
									<li class="screen-btn">
										<a class="dropdown-item" th:onclick="|location.href='@{teList}'|">
											講師一覧
										</a>
									</li>
								</div>

								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="screen-btn"><a class="dropdown-item" th:href="@{/taskdon/user/logout}">ログアウト
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
											fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16"
											style="margin-bottom: 2px;">
											<path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1" />
											<path
												d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z" />
										</svg>
									</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<!--共通head(所属グループ一覧用)-->
	<div th:fragment="headerDeptGroupList">

		<!--ナビゲーションバー-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<img class="iconLink no-wrap" th:src="@{/img/icon.png}" alt="icon" width="48" height="48">
				<span class="nav-title">タスクどん</span>

				<!--ドロップダウンメニュー(開閉)-->
				<!--開閉ボタン-->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<!--メニュー開閉ボタン-->
							<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
								aria-expanded="false">
								メニュー
							</button>

							<!--各画面遷移-->
							<!--所属グループ一覧画面専用-->
							<ul class="dropdown-menu dropdown-menu-dark">

								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="screen-btn"><a class="dropdown-item" th:href="@{/taskdon/user/logout}">ログアウト
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
											fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16"
											style="margin-bottom: 2px;">
											<path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1" />
											<path
												d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z" />
										</svg>
									</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

</body>

</html>