<!-- 連絡事項表示のhtml -->
<!-- あとでmenuUser.htmlに埋め込む -->
<!-- 必須情報(下記2項目) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="notice">
		<!-- エラー文を表示する -->
		<p th:if="${errMsg}" th:text="${errMsg}" style="color: red;"></p>

		<form th:action="@{noticeDelete}" method="post" id="noticeForm" class="notice-content">
			<div th:each="notice : ${noticeList}" style="border-top: solid 2px black;">
				<div class="form-check" style="margin-top: 10px;">
					<input class="form-check-input notice-checkbox" type="checkbox" name="check"
						th:value="${notice.notice_id}" th:if="${session.user_roll} == 'リーダ'" th:onchange="">

					<!--連絡タイトル-->
					<div th:text="'【'+${notice.title}+'】'" style="margin-left: -10px;"></div>

				</div>

				<textarea type="text" th:text="${notice.contact_msg}" class="form-control" name="contact_msg" rows="3"
					readonly></textarea>

				<div th:text="'送信者【'+${notice.user_name}+'】'"></div>

				<div th:text="'/'+${notice.send_date}+'_(送信時間)'"></div><br>
			</div>
		</form>

		<!--コンテナ最下のボタン-->
		<button type="submit" name="button" value="削除" th:if="${session.user_roll} == 'リーダ'"
			id="deleteButton" class="select-btn" form="noticeForm">削除</button>

	</div>
</body>

</html>