<!-- 連絡事項表示のhtml -->
<!-- あとでmenuUser.htmlに埋め込む -->
<!-- 必須情報(下記2項目) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 必須項目 -->
	<meta charset="UTF-8">

</head>

<body>
	<div th:fragment="notice">

		<!-- エラー文を表示する -->
		<p th:if="${errMsg}" th:text="${errMsg}" style="color: red;"></p>

		<form th:action="@{noticeDelete}" method="post" id="noticeForm">
			<div th:each="notice : ${noticeList}">
				<div class="form-check">
					<input class="form-check-input notice-checkbox" type="checkbox" name="check"
						th:value="${notice.notice_id}" th:if="${session.user_roll} == 'リーダ'" th:onchange="">
				</div>
				<div th:text="${notice.user_name}"></div>
				<div th:text="${notice.title}"></div>
				<div th:text="${notice.contact_msg}"></div>
				<div th:text="${notice.send_date}"></div><br>
			</div>
		</form>

		<!--コンテナ最下のボタン-->
		<button type="submit" name="button" value="削除" class="btn" th:if="${session.user_roll} == 'リーダ'"
			id="deleteButton" form="noticeForm">削除</button>

	</div>
	
</body>

</html>