/* コンテナ */
.manage_container {
	max-width: 400px;
	margin: 40px auto;
	padding: 20px;
	background-color: #FFF9E6;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* タイトル */
.manage_container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.manage_container h4 {
	text-align: left;
	margin-top: -20px;
	font-size: 14px;
	color: #666;
}

.manage_container h3 {
	text-align: center;
}

/* 入力欄 */
.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
	font-family: 'Noto Sans JP', sans-serif;
}

.form-group input[type="text"],
.form-group input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

/* ボタン */
.button-group {
	text-align: center;
}

.back-button {
	padding: 10px 20px;
	background-color: crimson;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.back-button:hover {
	background-color: darkred;
}

.confirm-button {
	padding: 10px 20px;
	background-color: blue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.confirm-button:hover {
	background-color: darkblue;
}

.decision-button {
	padding: 10px 20px;
	background-color: blue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.decision-button:hover{
	background-color: darkblue;
}

.login-back-button{
	padding: 10px 20px;
		background-color: blue;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease;
}

.login-back-button:hover{
	background-color: darkblue;
}