@charset "UTF-8";
/*登録,編集,削除等の操作画面用*/

/*登録項目(小項目)*/
.regist-item {
	margin-top: 10px;
}

/*入力欄*/
.regist-field {
	margin-top: -10px;
}

/*確認欄*/
.confirmation-field {
	margin-top: -10px;
}

/*小ボタン(共通)*/
.mini-btn {
	width: 70px;
}

/*横長ボタン(共通)*/
.long-btn {
	width: 140px;
}

/*処理系*/
/*確認&登録,編集,削除ボタン*/
.control-btn {
	display: block;
	text-align: center;
	text-decoration: none;
	margin: auto;
	margin-top: 16px;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.control-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

.control-btn:hover::before {
	transform: translateX(0);
}

.control-btn:hover {
	color: #fff;
}

/*ポップ内,はい,いいえボタン*/
.answer-btn {
	display: block;
	text-align: center;
	text-decoration: none;
	margin: auto;
	margin-top: 16px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: inline-block;
	flex: 1;
	margin: 0 30px;
}

.answer-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

.answer-btn:hover::before {
	transform: translateX(0);
}

.answer-btn:hover {
	color: #fff;
}

/*ボタンバランス*/
.btn-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 14px;
}

/*はいボタン(ポップ内)*/
.yes-btn {
	border: 3px solid red;
	color: red;
}

.yes-btn::before {
	background-color: red;
}

/*いいえボタン(ポップ内)*/
.no-btn {
	border: 3px solid blue;
	color: blue;
}

.no-btn::before {
	background-color: blue;
}

/*ポップアップ用*/
/*ポップアップ全体*/
.popup-place {
	margin-top: 180px;
}

/*ポップアップ内テキスト*/
.modal-text {
	margin-top: 14px;
	font-size: 24px;
	text-align: center;
}

/*ポップ終了後ボタン*/
.return-btn {
	width: 160px;
	margin-bottom: 18px;
}

/*ポップ内確認テキスト*/
.confirm-text {
	margin-top: 10px;
}