@charset "UTF-8";
/* 所属グループ一覧専用 */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hstack {
	justify-content: center;
	width: 100%;
}

/* グループテキストの下線 */
.underline {
	margin-top: -10px;
	margin-bottom: 0;
}

/* 繰返し内容 */
.hstack.gap-3 {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* 詳細のドロップダウン */
.dropdown-item.disabled {
	color: #333;
	opacity: 1;
}

.dropdown-item.disabled.first-item {
	border-bottom: 1px solid #ccc;
}

/* グループ選択ボタン */
.group-choice-btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 80px;
	margin: auto;
	margin-top: 12px;
	margin-bottom: 13px;
	font-size: 20px;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 10px;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.group-choice-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

.group-choice-btn:hover::before {
	transform: translateX(0);
}

.group-choice-btn:hover {
	color: #fff;
}