@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

/*ヘッダー用*/
/*ナビゲーション*/
.container-fluid {
	font-family: 'Sawarabi Mincho', sans-serif;
}

.nav-title {
	display: inline;
	padding-left: 10px;
	color: white;
	font-size: 28px;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.screen-btn{
	cursor: pointer;
}

/*アイコン(メニューへ遷移する)*/
.iconLink {
	-webkit-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
}

.iconLink:hover {
	transform: scale(0.9, 0.9);
}