@charset "UTF-8";
/*一覧表示(リスト)用*/

/*表示項目*/
.input-group {
	margin-top: 6px;
}

/*繰返し一覧内部*/
/*小ボタン(共通)*/
.mini-btn {
	width: 80px;
}

/*横長ボタン(共通)*/
.long-btn {
	width: 140px;
}

/*選択系ボタン(共通)*/
.select-btn {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	margin: auto;
	font-weight: bold;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.select-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

.select-btn:hover::before {
	transform: translateX(0);
}

.select-btn:hover {
	color: #fff;
}

/*遷移系ボタン(共通)*/
.move-btn {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	margin: auto;
	font-weight: bold;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.move-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

.move-btn:hover::before {
	transform: translateX(0);
}

.move-btn:hover {
	color: #fff;
}

/*メインコンテンツ*/
/*メイン項目内のスクロールバー*/
.main-content {
	overflow-y: auto;
	max-height: 500px;
	padding: 13px;
	margin-bottom: 20px;
}

.main-content::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

.main-content::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 10px;
	border: 2px solid grey;
	cursor: pointer;
}

.main-content::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 10px;
	border: 2px solid #EEEEEE;
}

.main-content::-webkit-scrollbar-thumb:active {
	background-color: #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: background-color 0.2s ease-in-out;
}

.main-content::-webkit-scrollbar-thumb:active:hover {
	background-color: #aaa;
}

/*繰返し小項目*/
.content-child {
	margin-bottom: 24px;
	border-top: 2px solid black;
}

/*繰返し小項目(user作成一覧用)*/
.user-child {
	margin-bottom: -6px;
}

/*学校情報詳細画面,学校IDの表示テキスト*/
.mb-3.school-info-text.second-text {
	margin-top: -12px;
}

/*講師一覧*/
/*繰返し項目毎のボタングループ*/
.teList-btn-group {
	margin-top: 12px;
}

/*ユーザ一覧*/
/*繰返し項目毎のボタングループ*/
.userList-btn-group {
	margin-top: -10px;
	margin-bottom: -10px;
}

.user-content {
	margin-top: -14px;
}

/*進捗バー用*/
.group-progress {
	border: 1.5px solid black;
	margin-bottom: 13px;
}

.group-progress-text {
	font-size: 19px;
	color: white;
}

/*全体進捗*/
.all-progress {
	height: 32px;
	border-radius: 15px;
}

/*個人進捗*/
.individual-progress {
	height: 26px;
	border-radius: 30px;
}

/*グループ一覧*/
/*絞り込みグループ*/
.narrow-dowm-group {
	margin-top: -22px;
	margin-bottom: 8px;
}

/*グループ一覧各項目に対して*/
.groupList-name {
	margin-bottom: -8px;
}

.groupList-text {
	font-size: 20px;
}

.groupList-whereabouts {
	margin-bottom: 8px;
}

.group-detail-text-view {
	margin-top: 8px;
}

/*スコア欄*/
.score-view {
	margin-bottom: -26px;
}

.priority {
	margin-bottom: -20px;
}

/*メンバのタスク名*/
.detail-taskName {
	margin-top: 7px;
	margin-bottom: 7px;
}

/*3ボタン*/
.btnS-group {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.btn-group form {
	margin: 0 10px;
}

/*todoリスト用*/
.list-open-btn {
	position: fixed;
	top: 85px;
	right: 20px;
	padding: 10px 20px;
	border: none;
	border-radius: 50px;
	background-color: #333333;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.list-open-btn:hover {
	transform: scale(0.9);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.list-open-btn:active {
	transform: scale(0.8);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}