@charset "UTF-8";
/*一覧表示(リスト)用*/

/*表示項目*/
.input-group {
	margin-top: 6px;
}

/*繰返し一覧内部*/
/*小ボタン(共通)*/
.mini-btn {
	width: 70px;
}

/*横長ボタン(共通)*/
.long-btn {
	width: 140px;
}

/*選択系ボタン(共通)*/
.select-btn {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	margin: auto;
	font-weight: bold;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.select-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

.select-btn:hover::before {
	transform: translateX(0);
}

.select-btn:hover {
	color: #fff;
}

/*遷移系ボタン(共通)*/
.move-btn {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	margin: auto;
	font-weight: bold;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.move-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

.move-btn:hover::before {
	transform: translateX(0);
}

.move-btn:hover {
	color: #fff;
}

/*メインコンテンツ*/
/*メイン項目内のスクロールバー*/
.main-content {
	overflow-y: auto;
	height: 600px;
	padding: 13px;
	margin-bottom: 20px;
}

.main-content::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

.main-content::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 10px;
	border: 2px solid grey;
}

.main-content::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 10px;
	border: 2px solid #EEEEEE;
}

/*繰返し小項目*/
.content-child {
	margin-bottom: 24px;
	border-top: 2px solid black;
}

/*講師一覧*/
/*繰返し項目毎のボタングループ*/
.teList-btn-group {
	margin-top: 12px;
}