@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

h1 {
	text-align: center;
	font-weight: bold;
	color: #454545;
	text-shadow: 3px 3px #AAAAAA;
}

h3 {
	margin-top: 20px;
}

body {
	background-image: url(../img/backImage01.png);
	font-family: 'Sawarabi Mincho', sans-serif;
}

.container {
	background-color: #FFFCDD;
	max-width: 400px;
	margin: 40px auto;
	padding: 20px;
	border: 3px solid black;
	border-radius: 25px;
}

.input-group-text {
	cursor: pointer;
}

.login-button {
	width: 100%;
	height: 40px;
	padding: 10px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 15px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.login-button:hover {
	transform: scale(0.9, 0.9);
	background-color: #3e8e41;
}

/* パスワード再設定説明のポップアップ */
.popup-link {
	text-decoration: none;
	color: black;
}

.popup-link:hover {
	color: blue;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 400px;
	padding: 20px;
	background-color: #FFFCDD;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes popup {
	from {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.5);
	}

	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.popup-content h3 {
	text-align: center;
	margin-bottom: 10px;
	font-size: 18px;
}

.popup-content p {
	margin-bottom: 20px;
	font-size: 16px;
}

.popup-content ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.popup-content li {
	margin-bottom: 10px;
	font-size: 16px;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
}

.close:hover {
	color: red;
}

.Ano {
	margin-top: 10px;
	text-align: center;
}