@charset "UTF-8";
/*学校情報系画面用*/

/*学校情報詳細画面,学校IDの表示テキスト*/
.mb-3.school-info-text.second-text {
	margin-top: -12px;
}

/*遷移系ボタン*/
/*学校情報詳細限定の3ボタン均等処理*/
.btn-group {
	display: flex;
	justify-content: space-between;
}

.move-btn {
	display: inline-block;
	flex: 1;
	margin: 0 30px;
}