@charset "UTF-8";

.col-md-6 {
	width: 50%;
}

#userScore {
	margin-top: 14px;
}

.form-select {
	margin-top: 14px;
}

.form-group {
	margin-top: 14px;
}

.form-label {
	margin-bottom: 0px;
}

.task-name {
	margin-top: 3px;
	font-size: 20px;
}

.text_child {
	margin-top: 3px;
	font-size: 16px;
}

.var-text {
	font-size: 20px;
	color: white;
}

.moveS {
	margin-top: 34px;
}

.box1 {
	margin-top: 12px;
	border-bottom: 2px solid black;
}

.content {
	border-top: 2px solid black;
}

.progress {
	border: 1.5px solid black;
	margin-top: -12px;
}

/*詳細ボタン*/
.detail-btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 80px;
	margin: auto;
	margin-top: 19px;
	margin-bottom: 24px;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.detail-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

.detail-btn:hover::before {
	transform: translateX(0);
}

.detail-btn:hover {
	color: #fff;
}

/*遷移ボタン(登録や未承認等)*/
a.move-btn {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	width: 170px;
	margin: auto;
	font-weight: bold;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

a.move-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

a.move-btn:hover::before {
	transform: translateX(0);
}

a.move-btn:hover {
	color: #fff;
}