@charset "UTF-8";
/*ユーザ選択の為*/

.userSelect-title {
	margin-top: 15px;
}

.userSelect-text {
	margin-top: 10px;
	margin-left: 7px;
	font-size: 18px;
}

.userSelect-btn {
	margin-left: 7px;
}

.select-userS {
	border: 2px solid black;
	border-radius: 10px;
}

.selectUser-content{
	margin-left: 10px;
	font-size: 16px;
}